<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="">
        <Header menuVisible="menuVisible"/>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible">
        <Drawer />
      </md-app-drawer>
      <md-app-content>
        <div class="md-layout">
          <div class="md-layout-item md-size-100 hero-merkurio">
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1280px;">
              <div class="md-layout-item">
                <center>
                <h2 class="headline">
                Field-Ready and Secure
                Payment Network
                </h2>
                <p class="subheadline" style="max-width:950px;">
                <b>Merkurio</b> uses Eonpass protocol to power Humanitarian Cash Transfer operations.
                </p>
                <p>
                <a class="btn--animate-top" target="_blank" href="https://helpcode.org/en/blockchain-technology-can-help-libyan-people">
                  Deployed in Lybia by Helpcode NGO
                  <svg
                  aria-hidden="false"
                  role="presentation"
                  fill=""
                  class="icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 28 28">
                  <path d="M14,28 C6.2680135,28 0,21.7319865 0,14 C0,6.2680135 6.2680135,0 14,0 C21.7319865,0 28,6.2680135 28,14 C28,21.7319865 21.7319865,28 14,28 Z M14.5,7 L13.178125,8.321875 L18.409375,13.5625 L7,13.5625 L7,15.4375 L18.409375,15.4375 L13.178125,20.678125 L14.5,22 L22,14.5 L14.5,7 Z" fill="#448aff" transform="translate(-6, 14) rotate(-45)"></path>
                  </svg>
                </a>
                </p>
                <p class="subheadline" style="max-width:950px; margin-bottom:30px;">
                  Get in touch
                </p>
                <div  style="margin-bottom:100px;">
                  <md-button class="md-primary md-raised" href="https://www.linkedin.com/company/eonpass/">LinkedIn</md-button>
                  <md-button class="md-secondary" href="http://eepurl.com/g-73Mb">Newsletter</md-button>
                </div>
                <div class="row" style="margin-bottom:100px;">
                  <div class="col l4 m12">
                  <p class="subheadline">
                  <b>Critical Areas Ready</b></br>
                  We are ready to work in critical environments, online or offline using our low-power energy-efficiency hardware.
                  </p>
                  </div>
                  <div class="col l4 m12">
                  <p class="subheadline">
                  <b>Voucher cards or SMS</b></br>
                  Right holders can receive their credit via many options, from printed QR codes to SMS, protected by a personal PIN
                  </p>
                  </div>
                  <div class="col l4 m12">
                  <p class="subheadline">
                  <b>Accountability</b></br>
                  Every action is encrypted and logged on BTC public blockchain, Donors can inspect the audit-trial of the money flow
                  </p>
                  </div>
                </div>
                </center>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout">
          <a id="mission"></a>
          <div class="md-layout-item md-size-100" style="max-height:450px; overflow:hidden;">
            <img src="~/assets/libya-1.jpg" width="100%" v-parallax="0.2"></img>
          </div>
        </div>
        <div class="md-layout" style="margin-top:20px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1280px;">
              <div class="md-layout-item">
                <center>
                  <h3 class="headertitle" style="max-width:671px;">Fast and Secure</h3>
                  <p class="subtitle" style="max-width:1280px;">
                    Merkurio provides a secure digital payment platform capable of turning humanitarian voucher fairs and cash distributions into a fraud free, rapid and effective experience to NGOs, merchants and humanitarian assistance right holders (beneficiaries).
                  </p>
                </center>
                <div class="row" style="margin-bottom:100px;">
                  <div class="col l4 m12">
                    <span class="subheadline">
                      <b>For NGOs</b></br>
                      </span>
                      <ul class="collection">
                        <li class="collection-item">Low-transactions fees.</li>
                        <li class="collection-item">Real-time and in-depth spending report.</li>
                        <li class="collection-item">Fast users registrations.</li>
                        <li class="collection-item">User Management with restricted area.</li>
                        <li class="collection-item">Full Customer Relationship Management.</li>
                      </ul>
                  </div>
                  <div class="col l4 m12">
                    <span class="subheadline">
                      <b>For Merchants</b></br>
                      </span>
                      <ul class="collection">
                        <li class="collection-item">Sell products with a click.</li>
                        <li class="collection-item">Choose the right price of each goods.</li>
                        <li class="collection-item">Multi-Currency & Storage management.</li>
                        <li class="collection-item">Secure beneficiary verification.</li>
                        <li class="collection-item">Vending Dashboard & Selling review.</li>
                      </ul>
                  </div>
                  <div class="col l4 m12">
                    <span class="subheadline">
                      <b>For Right Holders</b></br>
                      </span>
                      <ul class="collection">
                        <li class="collection-item">Paper wallet system.</li>
                        <li class="collection-item">Waterproof card.</li>
                        <li class="collection-item">SMS payments also available</li>
                        <li class="collection-item">Authentication mechanism.</li>
                        <li class="collection-item">Customer Dashboard & Spending review.</li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout" style="margin-top:20px;">
          <a id="team"></a>
          <div class="md-layout-item md-size-100" style="max-height:500px; overflow:hidden">
            <img src="~/assets/team.jpg" width="100%" v-parallax="0.2"></img>
          </div>
        </div>
        <div class="md-layout" style="margin-bottom:100px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1280px;">
              <div class="md-layout-item md-size-100">
                <center>
                <h3 class="headertitle">
                Team
                </h3>
                <p class="subtitle" style="max-width:1280px;">
                Eonpass was born taking <a href="https://euipo.europa.eu/ohimportal/en/web/observatory/blockathon" target="_blank">first place at the EUIPO Blockathon 2018</a>, the EU sponsored hackaton to stop counterfeiting with blockchain. Our hedge was the blockchain agnostic and opensource protocol that we are improving today.
                </p>
                <p class="subtitle" style="max-width:1280px;">In 2019 we won the <a href="https://devpost.com/software/eonpass-p2zol7" target="_blank">Liquid Hackaton at Bitcoin2019</a> for the implementation over Liquid, the Bitcoin sidechain which grants confidentiality between parties.
                </p>
                <p class="subtitle" style="max-width:1280px;">Proving our commitment to excellence we won <a href="https://solutions.odyssey.org/hackathon-2020-klm-cargo-challenge-compliant-air-cargo-flow/" target="_blank">Air Cargo Compliance</a> challenge in Odyssey Momentum 2020, the biggest hackaton in Europe with 2000 participants from 60 countries.
                </p>
                </center>
              </div>
              <div class="md-layout-item md-size-100">
                <div class="md-layout md-gutter">
                  <div class="md-layout-item" style="text-align:center">
                    <a href="https://euipo.europa.eu/ohimportal/en/web/observatory/blockathon" target="_blank">
                      <img src="~/assets/1stprize.svg" width="50"/>
                    </a>
                  </div>
                  <div class="md-layout-item" style="text-align:center">
                    <a href="https://devpost.com/software/eonpass-p2zol7" target="_blank">
                      <img src="~/assets/1stprize.svg" width="50"/>
                    </a>
                  </div>
                  <div class="md-layout-item" style="text-align:center">
                    <a href="https://solutions.odyssey.org/hackathon-2020-klm-cargo-challenge-compliant-air-cargo-flow/" target="_blank">
                      <img src="~/assets/1stprize.svg" width="50"/>
                    </a>
                  </div>
                </div>
                <div class="md-layout md-gutter">
                  <div class="md-layout-item">
                    <a href="https://euipo.europa.eu/ohimportal/en/web/observatory/blockathon" target="_blank">
                      <img src="~/assets/anticounterfeitingblockathon.jpg"/>
                    </a>
                  </div>
                  <div class="md-layout-item">
                    <a href="https://devpost.com/software/eonpass-p2zol7" target="_blank">
                      <img src="~/assets/liquid_hackathon_Blog_Hackathon_Final.jpg"/>
                    </a>
                  </div>
                  <div class="md-layout-item">
                    <a href="https://solutions.odyssey.org/hackathon-2020-klm-cargo-challenge-compliant-air-cargo-flow/" target="_blank">
                      <img src="~/assets/InternetLogistics-donotuse-300x300.png"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import Vue from 'vue'
import VueParallaxJs from 'vue-parallax-js'
import Header from '~/components/Header.vue'
import Drawer from '~/components/Drawer.vue'

Vue.use(VueParallaxJs)

export default {
  components: {
    Header,
    Drawer
  },
  data: () => ({
    menuVisible: false
  }),
  created() {
    this.$nuxt.$on('toggle-menu', () => {
      this.menuVisible = !this.menuVisible
    })
  }
}
</script>

<style>
.hero{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/luftfracht.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-merkurio{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/floating-market.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
    margin-top: 80px!important;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 2.75rem;
    letter-spacing: -.5px;
    line-height: 3.25rem;
    color: #202124;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subheadline{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: center;
box-sizing: border-box;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-size: 1.375rem;
letter-spacing: 0;
line-height: 1.875rem;
color: #5f6368;
max-width: 950px;
margin: 22px 10px;
font-weight:300;
}
.btn--animate-top{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
box-sizing: border-box;
background-color: transparent;
text-decoration: none;
border: 0;
border-radius: 2px;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-weight: 500;
min-height: 36px;
outline: 0;
position: relative;
text-align: center;
transition: background-color .3s ease,color .3s ease;
font-size: 1rem;
letter-spacing: .5px;
display: inline-block;
padding: 15px 20px 15px 15px;
color: #448aff !important;
}
.headertitle{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
    opacity: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: translateY(10px);
}
.subtitle{
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  opacity: 100;
  transform: translateY(10px);
  padding: 0px;
}
</style>
