<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="">
        <Header menuVisible="menuVisible"/>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible">
        <Drawer />
      </md-app-drawer>
      <md-app-content>
        <div class="md-layout">
          <div class="md-layout-item md-size-100 hero-bitcoin">
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1280px;">
              <div class="md-layout-item">
                <center>
                <h2 class="headline">
                Bitcoin Treasury
                </h2>
                <p class="subheadline" style="max-width:950px;">
                <b>Eonpass</b> has experience in setting up long lasting self-custodianship solutions for privacy conscious HNIs and Companies.
                </p>
                <p class="subheadline" style="max-width:950px; margin-bottom:30px;">
                  Get in touch
                </p>
                <div  style="margin-bottom:100px;">
                  <md-button class="md-primary md-raised" href="https://www.linkedin.com/company/eonpass/">LinkedIn</md-button>
                  <md-button class="md-secondary" href="http://eepurl.com/g-73Mb">Newsletter</md-button>
                </div>
                <div class="row" style="margin-bottom:100px;">
                  <div class="col l4 m12">
                  <p class="subheadline">
                  <b>Air Gapped</b></br>
                  Solutions we provide never touch the internet.
                  </p>
                  </div>
                  <div class="col l4 m12">
                  <p class="subheadline">
                  <b>Multisig and OTP</b></br>
                  Multi signatures or one time pads to distribute the spending key across different locations.
                  </p>
                  </div>
                  <div class="col l4 m12">
                  <p class="subheadline">
                  <b>Exchanges and OTC</b></br>
                  We provide a selection of partners for executing sales and purchases of Bitcoin.
                  </p>
                  </div>
                </div>
                </center>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout">
          <a id="mission"></a>
          <div class="md-layout-item md-size-100" style="max-height:450px; overflow:hidden;">
            <img src="~/assets/bitcoinstorage.jpg" width="100%" v-parallax="0.2"></img>
          </div>
        </div>
        <div class="md-layout" style="margin-top:20px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1280px;">
              <div class="md-layout-item">
                <center>
                  <h3 class="headertitle" style="max-width:671px;">Simple and Reliable</h3>
                  <p class="subtitle" style="max-width:1280px;">
                    Our consulting service helps you setup and maintain your own custodianship solution, we provide one to one coaching, guides and periodic checks on the setup. We teach the best methods and never know or hold any of your crypto assets.
                  </p>
                </center>
                <div class="row" style="margin-bottom:100px;">
                  <div class="col l4 m12">
                    <span class="subheadline">
                      <b>For HNIs</b></br>
                      </span>
                      <ul class="collection">
                        <li class="collection-item">Simple coaching.</li>
                        <li class="collection-item">Effective tools.</li>
                        <li class="collection-item">Tested solutions.</li>
                        <li class="collection-item">Introduction to methods and concepts.</li>
                      </ul>
                  </div>
                  <div class="col l4 m12">
                    <span class="subheadline">
                      <b>For Merchants</b></br>
                      </span>
                      <ul class="collection">
                        <li class="collection-item">Solutions to accept BTC.</li>
                        <li class="collection-item">Accounting strategy.</li>
                        <li class="collection-item">Tools to reduce volatility.</li>
                        <li class="collection-item">Self custody and third-party custodians.</li>
                      </ul>
                  </div>
                  <div class="col l4 m12">
                    <span class="subheadline">
                      <b>For CFOs</b></br>
                      </span>
                      <ul class="collection">
                        <li class="collection-item">Hedge against inflation.</li>
                        <li class="collection-item">Coaching and tools.</li>
                        <li class="collection-item">Best in class IT setup.</li>
                        <li class="collection-item">Self custody and third-party custodians.</li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout" style="margin-top:20px;">
          <a id="team"></a>
          <div class="md-layout-item md-size-100" style="max-height:500px; overflow:hidden">
            <img src="~/assets/team.jpg" width="100%" v-parallax="0.2"></img>
          </div>
        </div>
        <div class="md-layout" style="margin-bottom:100px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1280px;">
              <div class="md-layout-item md-size-100">
                <center>
                <h3 class="headertitle">
                Team
                </h3>
                <p class="subtitle" style="max-width:1280px;">
                Eonpass was born taking <a href="https://euipo.europa.eu/ohimportal/en/web/observatory/blockathon" target="_blank">first place at the EUIPO Blockathon 2018</a>, the EU sponsored hackaton to stop counterfeiting with blockchain. Our hedge was the blockchain agnostic and opensource protocol that we are improving today.
                </p>
                <p class="subtitle" style="max-width:1280px;">In 2019 we won the <a href="https://devpost.com/software/eonpass-p2zol7" target="_blank">Liquid Hackaton at Bitcoin2019</a> for the implementation over Liquid, the Bitcoin sidechain which grants confidentiality between parties.
                </p>
                <p class="subtitle" style="max-width:1280px;">Proving our commitment to excellence we won <a href="https://solutions.odyssey.org/hackathon-2020-klm-cargo-challenge-compliant-air-cargo-flow/" target="_blank">Air Cargo Compliance</a> challenge in Odyssey Momentum 2020, the biggest hackaton in Europe with 2000 participants from 60 countries.
                </p>
                </center>
              </div>
              <div class="md-layout-item md-size-100">
                <div class="md-layout md-gutter">
                  <div class="md-layout-item" style="text-align:center">
                    <a href="https://euipo.europa.eu/ohimportal/en/web/observatory/blockathon" target="_blank">
                      <img src="~/assets/1stprize.svg" width="50"/>
                    </a>
                  </div>
                  <div class="md-layout-item" style="text-align:center">
                    <a href="https://devpost.com/software/eonpass-p2zol7" target="_blank">
                      <img src="~/assets/1stprize.svg" width="50"/>
                    </a>
                  </div>
                  <div class="md-layout-item" style="text-align:center">
                    <a href="https://solutions.odyssey.org/hackathon-2020-klm-cargo-challenge-compliant-air-cargo-flow/" target="_blank">
                      <img src="~/assets/1stprize.svg" width="50"/>
                    </a>
                  </div>
                </div>
                <div class="md-layout md-gutter">
                  <div class="md-layout-item">
                    <a href="https://euipo.europa.eu/ohimportal/en/web/observatory/blockathon" target="_blank">
                      <img src="~/assets/anticounterfeitingblockathon.jpg"/>
                    </a>
                  </div>
                  <div class="md-layout-item">
                    <a href="https://devpost.com/software/eonpass-p2zol7" target="_blank">
                      <img src="~/assets/liquid_hackathon_Blog_Hackathon_Final.jpg"/>
                    </a>
                  </div>
                  <div class="md-layout-item">
                    <a href="https://solutions.odyssey.org/hackathon-2020-klm-cargo-challenge-compliant-air-cargo-flow/" target="_blank">
                      <img src="~/assets/InternetLogistics-donotuse-300x300.png"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import Vue from 'vue'
import VueParallaxJs from 'vue-parallax-js'
import Header from '~/components/Header.vue'
import Drawer from '~/components/Drawer.vue'

Vue.use(VueParallaxJs)

export default {
  components: {
    Header,
    Drawer
  },
  data: () => ({
    menuVisible: false
  }),
  created() {
    this.$nuxt.$on('toggle-menu', () => {
      this.menuVisible = !this.menuVisible
    })
  }
}
</script>

<style>
.hero{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/luftfracht.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-merkurio{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/floating-market.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-bitcoin{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/bitcoin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
    margin-top: 80px!important;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 2.75rem;
    letter-spacing: -.5px;
    line-height: 3.25rem;
    color: #202124;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subheadline{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: center;
box-sizing: border-box;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-size: 1.375rem;
letter-spacing: 0;
line-height: 1.875rem;
color: #5f6368;
max-width: 950px;
margin: 22px 10px;
font-weight:300;
}
.btn--animate-top{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
box-sizing: border-box;
background-color: transparent;
text-decoration: none;
border: 0;
border-radius: 2px;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-weight: 500;
min-height: 36px;
outline: 0;
position: relative;
text-align: center;
transition: background-color .3s ease,color .3s ease;
font-size: 1rem;
letter-spacing: .5px;
display: inline-block;
padding: 15px 20px 15px 15px;
color: #448aff !important;
}
.headertitle{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
    opacity: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: translateY(10px);
}
.subtitle{
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  opacity: 100;
  transform: translateY(10px);
  padding: 0px;
}
</style>
