<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="">
        <Header menuVisible="menuVisible"/>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible">
        <Drawer />
      </md-app-drawer>
      <md-app-content>
        <div class="md-layout" style="margin-top:20px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
              <div class="md-layout md-gutter" style="max-width: 1280px;">
                <div class="md-layout-item">
                  <md-button class="md-icon-button" href="/articles">
                    <md-icon>keyboard_arrow_left</md-icon>
                  </md-button>
                  <h3 class="headertitle">Checking for supplychain attacks on hardware wallets</h3>
                </div>
              </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <md-card class="author-card">
              <md-card-header>
                <md-avatar>
                  <img src="~/assets/TROSSI.jpg" alt="Avatar">
                </md-avatar>
                <div class="md-title">by Thomas Rossi <a href="https://twitter.com/th_s4m0ht" target="_blank"><TwitterIcon /></a></div>
                <div class="md-subhead">30th Dec. 2020</div>
              </md-card-header>
            </md-card>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout" style="margin-top:20px; margin-bottom:40px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
              <div class="md-layout md-gutter" style="max-width: 1280px;">
                <div class="md-layout-item">
                    <p class="subtitle">
                      The recent raise in Bitcoin prices inspired this article where we purchased a hardware wallet and reviewed all the steps to ensure a safe delivery and then checking for possible tamperings. We will go through the tools made available by Coldcard to inspect the packaging.
                    </p>
                    <center>
                      <img src="~/assets/coldcard1.jpg" alt="Coldcard package" class="resp-img">
                    </center>
                    <p class="subtitle">
                      While ordering your hardware wallet you should deliver it to a mailbox address which reduces practical risks that have been lately in the spotlight due to an hack into the customers database of one of the major wallet producers. Other practical recommendations would be to use burner phones and single use emails, the phone and email are relevant only for Customs Clearance, in fact Customs may ask additional information like tax id or other details. Once the package is arrived though there is no longer the need to use such email and phone number. Finally, in the case of Coldcard you can require them to destroy all of your data, when you do so they warn that every information which was on the shipping label has been seen by various other parties, so that's why using a mailbox is very important.
                    </p>
                    <p class="subtitle">
                      Before opening the package you'll need to check the borders, in praticular close to where the plastic has been melted to close the envelope. A clean way to open the package would in fact be to cut along the molding line, extract the wallet, tamper with it, put it back and melt the plastic again. In practice the melting line should be about 1mm in width with a small geometric pattern repeating. If the melting line is larger or clearly loses the pattern, then something is strange about it. The dimension of the package should also be checked: there should be a clear blue border and the melting line should be near it or over it. If someone naive would cut the bag entirely on the side and then close it, it would be quite easy to spot the missing blue border.
                    </p>
                    <p class="subtitle">
                        <img src="~/assets/coldcard2.jpg" alt="Coldcard package melting lines" class="resp-img">
                    </p>
                    <p class="subtitle">
                      On the package and inside of it there's a packaging number which is also imprinted in the memory of your coldcard. This is only helping you to determine if the wallet is in the expected bag, the bag itself can be completely copied so also that number would be copied. There is no way for the receiver to determine if the bag itself is authentic but this is not something that can be solved with plastic bags. The tools offered are a nice effort but the important part is to hide in the mass and make it difficult, for external observers, to estimate how the coldcard will be used.
                    </p>
                    <p class="subtitle">
                      Once the bag is open, you'll find inside a tag which was the top part of the plastic piece from which the packaging was built. You can double check that the tag is indeed coming from that bag by looking at the cutting points and checking the width of the tag against the bag. Another thing to control is that the melting lines are the same and continue on the lower part of the bag.
                    </p>
                    <p class="subtitle">
                        <img src="~/assets/coldcard3.jpg" alt="Control tag" class="resp-img">
                    </p>
                    <p class="subtitle">
                      Finally the coldcard is fired up and it shows the package number flashed in its memory. When choosing a way to store bitcoin the first step is to determine whehter your machine is more likely to be corrupted or the company seeling the hardware is impacted by a malicious supply chain. The i) reputation of the hardware company and ii) whether it's possible to review what software is installed on the hardware, are major decision drivers. In general devices that are often connected to the internet and used for day to day activities should be considered corrupted (or corruptible if identified). Once this assessment is done one can decide how to procede.
                    </p>
                    <p class="subtitle">
                      Coldcard has a lot of interesting functions for a developer: like handling partially signed transactions and having a completely open source approach, so for educational purposes it is definitely a good purchase. On the other hand for "top tier" security we discourage using single point of failure approaches, so coldcards can be part of a broader setup.
                    </p>
                    <p class="subtitle">
                        <img src="~/assets/coldcard4.jpg" alt="Control tag" class="resp-img">
                    </p>
                </div>
              </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import Vue from 'vue'
import VueParallaxJs from 'vue-parallax-js'
import Header from '~/components/Header.vue'
import Drawer from '~/components/Drawer.vue'
import TwitterIcon from '~/components/TwitterIconDark.vue'
Vue.use(VueParallaxJs)

export default {
  components: {
    Header,
    Drawer,
    TwitterIcon
  },
  data: () => ({
    menuVisible: false
  }),
  created() {
    this.$nuxt.$on('toggle-menu', () => {
      this.menuVisible = !this.menuVisible
    })
  },
  head() {
    return {
      title: 'Checking for supplychain attacks on hardware wallets packaging',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Review of hardware wallet packaging and how to detect possible tamperings on the container.'
        },
        {
          name: 'author',
          content: 'Thomas Rossi'
        },
        {
          name: 'date',
          content: '2020-12-30T00:00:00-0600'
        },
        {
          name: 'publish_date',
          property: 'og:publish_date',
          content: '2020-12-30T00:00:00-0600'
        },
        {
          name: 'article-published_time',
          property: 'article:published_time',
          content: '2020-12-30T00:00:00-0600'
        },
        {
          name: 'article-modified_time',
          property: 'article:modified_time',
          content: '2020-12-30T00:00:00-0600'
        },
        {
          property: 'og:type',
          content: 'Article'
        },
        {
          name: 'image',
          property: 'og:image',
          content: 'https://eonpass.com/_nuxt/img/6a952d1.jpg'
        },
        {
          name: 'twitter:image',
          content: 'https://eonpass.com/_nuxt/img/6a952d1.jpg'
        },
        {
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          name: 'twitter:creator',
          content: '@th_s4m0ht'
        },
        {
          property: 'og:url',
          content: 'https://eonpass.com/articles/checking-for-supplychain-attacks-on-hardware-wallets-packaging'
        },
        {
          property: 'og:title',
          content: 'Checking for supplychain attacks on hardware wallets packaging'
        },
        {
          property: 'og:description',
          content: 'Review of hardware wallet packaging and how to detect possible tamperings.'
        }
      ]
    }
  }
}
</script>

<style>
.hero{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/luftfracht.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
    margin-top: 80px!important;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 2.75rem;
    letter-spacing: -.5px;
    line-height: 3.25rem;
    color: #202124;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subheadline{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: center;
box-sizing: border-box;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-size: 1.375rem;
letter-spacing: 0;
line-height: 1.875rem;
color: #5f6368;
max-width: 950px;
margin: 22px 10px;
font-weight:300;
}
.default-text{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
  font-size: 1.375rem !important;
  letter-spacing: 0;
  line-height: 1.875rem;
  color: #5f6368;
  font-weight:300 !important;
}
.btn--animate-top{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
box-sizing: border-box;
background-color: transparent;
text-decoration: none;
border: 0;
border-radius: 2px;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-weight: 500;
min-height: 36px;
outline: 0;
position: relative;
text-align: center;
transition: background-color .7s ease,color .7s ease;
font-size: 1rem;
letter-spacing: .5px;
display: inline-block;
padding: 15px 20px 15px 15px;
color: #448aff !important;
text-decoration: none;
}
.btn--animate-top:hover{
color: #85b1ff !important;
}
.headertitle{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
    opacity: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: translateY(10px);
}
.subtitle{
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  opacity: 100;
  transform: translateY(10px);
  padding: 0px;
}
.author-card{
  box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.md-list-item-text {
  white-space: initial !important;
}
.resp-img{
  max-width: 100%;
  height: auto;
}
</style>
