<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="">
        <Header menuVisible="menuVisible"/>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible">
        <Drawer />
      </md-app-drawer>
      <md-app-content>
        <div class="md-layout" style="margin-top:20px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
              <div class="md-layout md-gutter" style="max-width: 1280px;">
                <div class="md-layout-item">
                  <md-button class="md-icon-button" href="/articles">
                    <md-icon>keyboard_arrow_left</md-icon>
                  </md-button>
                  <h3 class="headertitle">The Internet of Logistics: Distributed Identifiers (DIDs) for Authentication Along Supply Chains</h3>
                  <!--center>
                    <h3 class="headertitle" style="max-width:671px;">The Internet of Logistics: Distributed Identifiers (DIDs) for Authentication Along Supply Chains</h3>
                  </center-->
                </div>
              </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <md-card class="author-card">
              <md-card-header>
                <md-avatar>
                  <img src="~/assets/AURIOL.jpg" alt="Avatar">
                </md-avatar>
                <div class="md-title">by Marissa Small <a href="https://www.linkedin.com/in/marissaauriolsmall/" target="_blank"><LinkedInIcon /></a><a href="https://twitter.com/CentaurAuriol" target="_blank"><TwitterIcon /></a></div>
                <div class="md-subhead">1st Sept. 2020 - sponsored by Eonpass</div>
              </md-card-header>
            </md-card>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout" style="margin-top:20px; margin-bottom:40px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
              <div class="md-layout md-gutter" style="max-width: 1280px;">
                <div class="md-layout-item">
                    <p class="subtitle">
                      Counterfeit and stolen goods account for a deficit approaching $2 trillion dollars every year against brands and supporting logistics companies. Although companies continue to implement new technologies for identifying the authority and actions of legitimate stakeholders, and for intercepting illegal shipments sans supply chains of trust, these innovations have yet to make a major impact on the growing trends of dark markets.
                    </p>
                    <p class="subtitle">
                      Potential solutions exist, however, as new identification technologies built on top of public blockchain infrastructures, while not a cure-all for counterfeiting and theft, can serve to improve methods of authentication between logistics partners.
                    </p>
                    <center>
                      <img src="~/assets/article_dids.png" alt="Distributed Identifiers" class="resp-img">
                    </center>
                    <p class="subtitle remark" style="margin-top:40px;">
                      - Sign here, please?
                    </p>
                    <p class="subtitle">
                      Today, legitimate brands, shippers, air cargo units, customs agents, et al--trusted parties along supply chains seek better methods of identifying authorisation, tracking data, and communicating context (sharing data) when and where it is relevant to do so, <i>and in particular, when and where they can be held liable for not doing so</i>.
                    </p>
                    <p class="subtitle">
According to contractual and regulatory requirements for supply chain logistics, signing off that particular processes or tasks have been completed demonstrates that an entity holds itself accountable. Furthermore, with the increasing capacity to automate internal auditing on such processes, companies can quickly account for and verify the completion of service level agreements (SLAs) before passing shipments to the next trusted party along supply chains.
                    </p>
                    <p class="subtitle">
                      But how exactly do logistics partners <i>sign</i>?
                    </p>
                    <p class="subtitle remark" style="margin-top:40px;">
                      - For brand owner: bar codes, <i>bar none</i>
                    </p>
                    <p class="subtitle">
                      Although not quite as unique as a pen on paper signature, bar codes are the most prominent form identifier technology for consumer products and logistics controls today.
                    </p>
                    <p class="subtitle">
Bar code labels house visually represented identifiers coupled with numerical strings. When electronically scanned, these identifiers relate data about the product as encoded for identifying the brand owner and publicly associated information, and as decoded by other companies, they can be used as a reference for many different databases.
                    </p>
                    <p class="subtitle">
The global standard for bar codes used by businesses around the world is supported by the non-for-profit GS1. Their bar codes get electronically scanned billions of times a day in service to help logistics companies track and manage data for products along supply chains.
                    </p>
                    <p class="subtitle">
Brand owners registered with GS1 are assigned unique identifiers which owners use to label products and shipments. Each identifier is registered in representations of a single company.
                    </p>
                    <p class="subtitle">
In being affixed to the labeling of a single product, however, bar codes and other similar forms of identifiers are not always unique, and they can be easily duplicated against the brand owner’s wishes.
                    </p>
                    <p class="subtitle remark" style="margin-top:40px;">
                      - Introducing Distributed Identifiers
                    </p>
                    <p class="subtitle">
                    Distributed Identifiers (DIDs), or so-called ‘decentralised identifiers’, are instances of cryptographically secured identification created and controlled independently of a centralised issuing authority.
                    <p class="subtitle">
Registering identifiers atop a highly secure public blockchain, such as the Bitcoin blockchain, allows brand owners and logistics partners to incorporate unique digital signatures and communicate direct authentication.
                    </p>
                    <p class="subtitle">
To make use of a DID, brand owners and logistics partners each bear the responsibility for the creation and management of private keys used to generate and publish identifiers.
                    </p>
                    <p class="subtitle">
‘Usually an identifier is some kind of code, some string or number, that we use to identify something like an email or a phone number,’ said Eonpass’ <a href="https://twitter.com/tulipan81" target="_blank">Valerio Vaccaro</a>, an expert on GS1 identifiers and a Blockstream consultant.
                    </p>
                    <p class="subtitle">
Valerio breaks down identifiers into three parts:
                    </p>
                    <ul>
                      <li class="default-text">i) The ID, or code (a string)</li>
                      <li class="default-text">ii) The data set or meta tag associated with the ID</li>
                      <li class="default-text">iii) The technologies providing persistence for both the ID and the data set</li>
                    </ul>
                    <p class="subtitle">
                      ‘[We need] something for saving the identifiers and the data set,’ stressed Valerio, in referring to the last requirement.
                    </p>
                    <p class="subtitle">
Incorporating digital signatures and signed messages as identifiers are context-agnostic, in that they do not place restrictions on the number of data points being shared or asked for. If a shipper requires additional data to verify and grants their seal of authentication, the previous party in the supply chain should be able to sign off on updates to the logistics history for reflecting the new context.
                    </p>
                    <p class="subtitle remark" style="margin-top:40px;">
                      - Objects and Location DIDs: Advantages and Disadvantages
                    </p>
                    <p class="subtitle">
To share an example, by marrying DIDs and smart shelf technology, the shelves of a warehouse can generate IDs for the inventory placed atop them. Verifiers can quickly check the ID generation process to prove ownership/holdership and connection to data stored in persistence and referenced on a public blockchain.
                    </p>
                    <p class="subtitle">
In applying DIDs to objects today, however, there are scalability issues. Human intervention is still necessary. And public blockchains can only serve as an immutable, chronological registry. They are not able to resolve conflicts when updating DIDs before on-chain commitments.
                    </p>
                    <p class="subtitle">
Altering data under registration parameters at ‘very small scales, both in the production and distribution of goods’, reflecting a trend called ‘micro-locations’, is also a challenge.
                    </p>
                    <p class="subtitle">
For location identifiers utilising blockchain technology already in use, there are additional considerations. Not only are many of them incompatible with older, legacy systems, but also they are not interoperable with other newer implementations as well. For these disparate applications no global registry for location IDs exists.
                    </p>
                    <p class="subtitle">
And so it appears, for modern logistics organisations, no clear path to running cost benefit analyses exists.
                    </p>
                    <p class="subtitle">
Projects like <a href="https://github.com/decentralized-identity/ion" target="_blank">Microsoft’s ION</a>, however, an open source protocol built atop Bitcoin, aim to provide secondary solutions for updating the states of DIDs. With cryptographic security assumptions aligned with a robust first layer, the protocol provides a basis of chronological authentication before committing state updates to the underlying blockchain.
                    </p>
                    <p class="subtitle">
Developing the infrastructure and making such tools accessible to empower anyone anywhere to create their own distributed identifiers and anchor them into what would become a de facto ‘global registry’ is the goal. And as DIDs provide increased granularity on stakeholder-to-stakeholder interactions, companies can leverage trustless networks to better capture SLA checks and logistics contexts over time.
                    </p>
                </div>
              </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import Vue from 'vue'
import VueParallaxJs from 'vue-parallax-js'
import Header from '~/components/Header.vue'
import Drawer from '~/components/Drawer.vue'
import TwitterIcon from '~/components/TwitterIconDark.vue'
import LinkedInIcon from '~/components/LinkedinIconDark.vue'
Vue.use(VueParallaxJs)

export default {
  components: {
    Header,
    Drawer,
    TwitterIcon,
    LinkedInIcon
  },
  data: () => ({
    menuVisible: false
  }),
  created() {
    this.$nuxt.$on('toggle-menu', () => {
      this.menuVisible = !this.menuVisible
    })
  },
  head() {
    return {
      title: 'Eonpass - The Internet of Logistics: Distributed Identifiers (DIDs) for Authentication Along Supply Chains',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Counterfeit and stolen goods account for a deficit approaching $2 trillion dollars every year against brands and supporting logistics companies. Although companies continue to implement new technologies for identifying the authority and actions of legitimate stakeholders, and for intercepting illegal shipments sans supply chains of trust, these innovations have yet to make a major impact on the growing trends of dark markets.'
        },
        {
          name: 'author',
          content: 'Marissa Small'
        },
        {
          name: 'date',
          content: '2020-01-09T00:00:00-0600'
        },
        {
          name: 'publish_date',
          property: 'og:publish_date',
          content: '2020-01-09T00:00:00-0600'
        },
        {
          name: 'article-published_time',
          property: 'article:published_time',
          content: '2020-01-09T00:00:00-0600'
        },
        {
          name: 'article-modified_time',
          property: 'article:modified_time',
          content: '2020-01-09T00:00:00-0600'
        },
        {
          property: 'og:type',
          content: 'Article'
        },
        {
          name: 'image',
          property: 'og:image',
          content: 'https://eonpass.com/_nuxt/img/3741e2b.png'
        },
        {
          name: 'twitter:image',
          content: 'https://eonpass.com/_nuxt/img/3741e2b.png'
        },
        {
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          name: 'twitter:creator',
          content: '@CentaurAuriol'
        },
        {
          property: 'og:url',
          content: 'https://eonpass.com/articles/distributed-identifiers'
        },
        {
          property: 'og:title',
          content: 'The Internet of Logistics: Distributed Identifiers (DIDs) for Authentication Along Supply Chains'
        },
        {
          property: 'og:description',
          content: 'Counterfeit and stolen goods account for a deficit approaching $2 trillion dollars every year against brands and supporting logistics companies. Although companies continue to implement new technologies for identifying the authority and actions of legitimate stakeholders, and for intercepting illegal shipments sans supply chains of trust, these innovations have yet to make a major impact on the growing trends of dark markets.'
        }
      ]
    }
  }
}
</script>

<style>
.hero{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/luftfracht.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
    margin-top: 80px!important;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 2.75rem;
    letter-spacing: -.5px;
    line-height: 3.25rem;
    color: #202124;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subheadline{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: center;
box-sizing: border-box;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-size: 1.375rem;
letter-spacing: 0;
line-height: 1.875rem;
color: #5f6368;
max-width: 950px;
margin: 22px 10px;
font-weight:300;
}
.default-text{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
  font-size: 1.375rem !important;
  letter-spacing: 0;
  line-height: 1.875rem;
  color: #5f6368;
  font-weight:300 !important;
}
.btn--animate-top{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
box-sizing: border-box;
background-color: transparent;
text-decoration: none;
border: 0;
border-radius: 2px;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-weight: 500;
min-height: 36px;
outline: 0;
position: relative;
text-align: center;
transition: background-color .7s ease,color .7s ease;
font-size: 1rem;
letter-spacing: .5px;
display: inline-block;
padding: 15px 20px 15px 15px;
color: #448aff !important;
text-decoration: none;
}
.btn--animate-top:hover{
color: #85b1ff !important;
}
.headertitle{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
    opacity: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: translateY(10px);
}
.subtitle{
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  opacity: 100;
  transform: translateY(10px);
  padding: 0px;
}
.author-card{
  box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.md-list-item-text {
  white-space: initial !important;
}
.resp-img{
  max-width: 100%;
  height: auto;
}
.remark{
  font-weight: 600
}
</style>
