<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="">
        <Header menuVisible="menuVisible"/>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible">
        <Drawer />
      </md-app-drawer>
      <md-app-content>
        <div class="md-layout" style="margin-top:20px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
              <div class="md-layout md-gutter" style="max-width: 1280px;">
                <div class="md-layout-item">
                  <md-button class="md-icon-button" href="/articles">
                    <md-icon>keyboard_arrow_left</md-icon>
                  </md-button>
                  <h3 class="headertitle">Eonpass wins the EUIPO tender for the anti-counterfeiting infrastructure</h3>
                </div>
              </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <md-card class="author-card">
              <md-card-header>
                <md-avatar>
                  <img src="~/assets/TROSSI.jpg" alt="Avatar">
                </md-avatar>
                <div class="md-title">by Thomas Rossi <a href="https://twitter.com/th_s4m0ht" target="_blank"><TwitterIcon /></a></div>
                <div class="md-subhead">24th Mar. 2022</div>
              </md-card-header>
            </md-card>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout" style="margin-top:20px; margin-bottom:40px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
              <div class="md-layout md-gutter" style="max-width: 1280px;">
                <div class="md-layout-item">
                    <p class="subtitle">
                      Eonpass in partnership with EY Advisory and JAS Jet Air Service won the tender for desining the anti-counterfeiting European architecture. EUIPO (EU Intellectual Property Office) plans also to sponsor a practical pilot project to further demonstrate how Brands can take advantage of the new technology.
                    </p>
                    <center>
                      <img src="~/assets/blockathon_17-03-2022.jpeg" alt="Award Ceremony" class="resp-img">
                    </center>
                    <p class="subtitle" style="margin-top:30px;">
                      <b>The Winning Proposal</b><br/>
                      The solution has four components: i) a peer to peer layer for logistics data, ii) specifics for NFT metadata, iii) specifics for events coming from track and trace devices and iv) a registry of Business Entities which connects Brands to signed data packages.
                    </p>
                    <p class="subtitle">
                      The peer to peer layer is the biggest open source contribution as it's an API server that anyone can install to take part in Brand-approved supply chains. Inside this network in fact it's possible to connect a shipment to a requesting Brand Owner, greatly speeding up compliance and offering higher quality services for brands. Logistics Operators will be able to ensure they are handling only authentic products for their intended destinations.
                    </p>
                    <p class="subtitle">
                      NFT are widely adopted as marketing tools, at the same time counterfeiters have been very quick in picking up this new business line and it's today difficult for consumers (and anybody else) to understand if an NFT was actually created by an authentic brand owner. Our solution proposes that within the metadata package there must be specific fields where the Brand Owner will sign the serial number, the webpage representing the product and the NFT identifier, so that counterfeiters cannot bind fake products to real tokens, fake tokens to real products and so on.
                    </p>
                    <p class="subtitle">
                      Track and Trace systems already exists and provide physical identifers to mark products and their packaging. When one of the identifiers is scanned the data of this event will be uploaded to the logistics layer which provides an interface to make sure the scan events have all the detail to produce meaningful statistical analysis.
                    </p>
                    <p class="subtitle">
                      Finally, every exchanged information is digitally signed and therefore it's important to have a registry knowing which public key belongs to whom. The system could work in a complete peer to peer fashion but then impersonification would be rampant, moreover EUIPO already has a curated list of Brands and their respective Owners and it's in prime position to host this Identity Registrar.
                    </p>
                    <p class="subtitle" style="text-align:center">
                      <a class="btn--animate-top" target="_blank" href="https://euipo.europa.eu/ohimportal/en/news/-/action/view/9259383">
                        Read the EU official press release
                        <svg
                        aria-hidden="false"
                        role="presentation"
                        fill=""
                        class="icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 28 28">
                        <path d="M14,28 C6.2680135,28 0,21.7319865 0,14 C0,6.2680135 6.2680135,0 14,0 C21.7319865,0 28,6.2680135 28,14 C28,21.7319865 21.7319865,28 14,28 Z M14.5,7 L13.178125,8.321875 L18.409375,13.5625 L7,13.5625 L7,15.4375 L18.409375,15.4375 L13.178125,20.678125 L14.5,22 L22,14.5 L14.5,7 Z" fill="#448aff" transform="translate(-6, 14) rotate(-45)"></path>
                        </svg>
                      </a>
                    </p>
                    <p class="subtitle">
                      <b>What does this mean for Europe</b><br/>
                      In Europe 45% of GDP comes from companies with high Intellectual Property value which employ 29% of the population. In Italy those numbers are even higher since many products are based on renowed brands and patents protect the large manufactoring sector.
                    </p>
                    <p class="subtitle">
                        Fake products are a challenge both for exports and imports. Export-wise they generate additional competition and dilute brand equity.  On the import side, fake products account for up to 6% of all EU imports. Fake products are not only an economical damage for the right owners but also present public health risk in case of fake pharma products.
                    </p>
                    <p class="subtitle">
                      <b>The future of Eonpass</b><br/>
                      Eonpass wants to be the largest and most efficient peer to peer network to exchange logistics data to help Brand Owners and Logistics company protecting the products and reduce manual operations. When the network will be big enough, statistical analysis can spot similar but unauthorised shipments or banks offering trade finance can use it as data source to know the current state of shipments. Finally we are also developing trade finance capabilities for Bitcoin, it will be possible to unlock payments when shipments reach specific states.
                    </p>
                </div>
              </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import Vue from 'vue'
import VueParallaxJs from 'vue-parallax-js'
import Header from '~/components/Header.vue'
import Drawer from '~/components/Drawer.vue'
import TwitterIcon from '~/components/TwitterIconDark.vue'
Vue.use(VueParallaxJs)

export default {
  components: {
    Header,
    Drawer,
    TwitterIcon
  },
  data: () => ({
    menuVisible: false
  }),
  created() {
    this.$nuxt.$on('toggle-menu', () => {
      this.menuVisible = !this.menuVisible
    })
  },
  head() {
    return {
      title: 'Eonpass - What is at stake for brands in a centralised future?',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'EONPASS is proud to announce it has won the official EU tender to build a blockchain-based anti-counterfeiting infrastructure that will authenticate products and exchange data between all parties in the supply chain and all EU customs points.'
        },
        {
          name: 'author',
          content: 'Thomas Rossi'
        },
        {
          name: 'date',
          content: '2022-03-17T00:00:00-0600'
        },
        {
          name: 'publish_date',
          property: 'og:publish_date',
          content: '2022-03-24T00:00:00-0600'
        },
        {
          name: 'article-published_time',
          property: 'article:published_time',
          content: '2022-03-24T00:00:00-0600'
        },
        {
          name: 'article-modified_time',
          property: 'article:modified_time',
          content: '2022-03-24T00:00:00-0600'
        },
        {
          property: 'og:type',
          content: 'Article'
        },
        {
          name: 'image',
          property: 'og:image',
          content: 'https://eonpass.com/_nuxt/img/blockathon_17-03-2022.b2e8162.jpeg'
        },
        {
          name: 'twitter:image',
          content: 'https://eonpass.com/_nuxt/img/blockathon_17-03-2022.b2e8162.jpeg'
        },
        {
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          name: 'twitter:creator',
          content: '@th_s4m0ht'
        },
        {
          property: 'og:url',
          content: 'https://eonpass.com/articles/eonpass-wins-eu-tender/'
        },
        {
          property: 'og:title',
          content: 'Eonpass wins EU tender for anti-counterfeiting'
        },
        {
          property: 'og:description',
          content: 'EONPASS is proud to announce it has won the official EU tender to build a blockchain-based anti-counterfeiting infrastructure that will authenticate products and exchange data between all parties in the supply chain and all EU customs points.'
        }
      ]
    }
  }
}
</script>

<style>
.hero{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/luftfracht.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
    margin-top: 80px!important;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 2.75rem;
    letter-spacing: -.5px;
    line-height: 3.25rem;
    color: #202124;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subheadline{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: center;
box-sizing: border-box;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-size: 1.375rem;
letter-spacing: 0;
line-height: 1.875rem;
color: #5f6368;
max-width: 950px;
margin: 22px 10px;
font-weight:300;
}
.default-text{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
  font-size: 1.375rem !important;
  letter-spacing: 0;
  line-height: 1.875rem;
  color: #5f6368;
  font-weight:300 !important;
}
.btn--animate-top{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
box-sizing: border-box;
background-color: transparent;
text-decoration: none;
border: 0;
border-radius: 2px;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-weight: 500;
min-height: 36px;
outline: 0;
position: relative;
text-align: center;
transition: background-color .7s ease,color .7s ease;
font-size: 1rem;
letter-spacing: .5px;
display: inline-block;
padding: 15px 20px 15px 15px;
color: #448aff !important;
text-decoration: none;
}
.btn--animate-top:hover{
color: #85b1ff !important;
}
.headertitle{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
    opacity: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: translateY(10px);
}
.subtitle{
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  opacity: 100;
  transform: translateY(10px);
  padding: 0px;
}
.author-card{
  box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.md-list-item-text {
  white-space: initial !important;
}
.resp-img{
  max-width: 100%;
  height: auto;
}
</style>
