<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="">
        <Header menuVisible="menuVisible"/>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible">
        <Drawer />
      </md-app-drawer>
      <md-app-content>
        <div class="md-layout">
          <div class="md-layout-item">
            <center>
              <h2 class="headline">
                Articles
              </h2>
            </center>
          </div>
        </div>
        <div class="md-layout md-gutter" style="margin-bottom:40px;">
          <div class="md-layout-item md-size-33 md-medium-size-33 md-small-size-50 md-xsmall-size-100" style="margin-bottom:10px;">
            <md-card>
              <md-card-media>
                <img src="~/assets/blockathon_17-03-2022.jpeg" alt="Eonpass wins EU tender for anti-counterfeiting architecture">
              </md-card-media>
              <md-ripple>
                <md-card-header>
                  <div class="md-title">Eonpass wins EU tender for anti-counterfeiting architecture</div>
                  <div class="md-subhead">Awarded for the comprehensive analysis on how and why this system creates friction for counterfeiting</div>
                </md-card-header>

                <md-card-content>
                  In partnership with EY Advisory and JAS Jet Air Service, Eonpass proposed a full stack solution that follows the shipment from the initial negotiation with the logistics to the final consumer receiving it. 
                </md-card-content>

                <md-card-actions>
                  <md-button href="articles/eonpass-wins-eu-tender">Read</md-button>
                </md-card-actions>
              </md-ripple>
            </md-card>
          </div>
          <div class="md-layout-item md-size-33 md-medium-size-33 md-small-size-50 md-xsmall-size-100" style="margin-bottom:10px;">
            <md-card>
              <md-card-media>
                <img src="~/assets/tradefin.jpeg" alt="Future of Trade Finance">
              </md-card-media>
              <md-ripple>
                <md-card-header>
                  <div class="md-title">Future of Trade Finance</div>
                  <div class="md-subhead">What has been experimented and what changes with Bitcoin becoming Legal Tender?</div>
                </md-card-header>

                <md-card-content>
                  With this paper, we will explore further the distinction between permissioned and permissionless blockchains, outline the advantages of each network type and draw some conclusions on why it might be worth considering the second one. Moreover, we will discuss in detail the potential of locking scripts and how they could be used for settling transactions with Bitcoin now that it's legal tender.
                </md-card-content>

                <md-card-actions>
                  <md-button href="../eonpass_research_paper_trade_finance_2021.pdf" target="_new">Download PDF</md-button>
                </md-card-actions>
              </md-ripple>
            </md-card>
          </div>
          <div class="md-layout-item md-size-33 md-medium-size-33 md-small-size-50 md-xsmall-size-100" style="margin-bottom:10px;">
            <md-card>
              <md-card-media>
                <img src="~/assets/coldcard3.jpg" alt="Hardware wallet packaging">
              </md-card-media>
              <md-ripple>
                <md-card-header>
                  <div class="md-title">Hardware wallets packaging:</div>
                  <div class="md-subhead">How to detect possible tamperings</div>
                </md-card-header>

                <md-card-content>
                  We review the Coldcard packaging ang its tools to determine if it arrived in good standing. The task of course is partially useful since the packaging can be completely cloned by malicious parties, therefore we also cover some best practices to adopt while ordering hardware wallets.
                </md-card-content>

                <md-card-actions>
                  <md-button href="articles/checking-for-supplychain-attacks-on-hardware-wallets-packaging">Read</md-button>
                </md-card-actions>
              </md-ripple>
            </md-card>
          </div>
          <div class="md-layout-item md-size-33 md-medium-size-33 md-small-size-50 md-xsmall-size-100" style="margin-bottom:10px;">
            <md-card>
              <md-card-media>
                <img src="~/assets/article_dids.png" alt="Distributed Identifiers">
              </md-card-media>
              <md-ripple>
                <md-card-header>
                  <div class="md-title">The Internet of Logistics:</div>
                  <div class="md-subhead">Distributed Identifiers (DIDs) for Authentication Along Supply Chains</div>
                </md-card-header>

                <md-card-content>
                  Counterfeit and stolen goods account for a deficit approaching $2 trillion dollars every year against brands and supporting logistics companies. Although companies continue to implement new technologies for identifying the authority and actions of legitimate stakeholders, and for intercepting illegal shipments sans supply chains of trust, these innovations have yet to make a major impact on the growing trends of dark markets.
                </md-card-content>

                <md-card-actions>
                  <md-button href="articles/distributed-identifiers">Read</md-button>
                </md-card-actions>
              </md-ripple>
            </md-card>
          </div>
          <div class="md-layout-item md-size-33 md-medium-size-33 md-small-size-50 md-xsmall-size-100" style="margin-bottom:10px;">
            <md-card>
              <md-card-media>
                <img src="~/assets/article_01.png" alt="Future of Brands">
              </md-card-media>
              <md-ripple>
                <md-card-header>
                  <div class="md-title">Brands and Intellectual Property in a centralised future</div>
                  <div class="md-subhead">What is at stake when the delivery of goods is trusted?</div>
                </md-card-header>

                <md-card-content>
                  Imagine a future where products are delivered at the frontdoor of your consumers by a third party, this third party decides what’s authentic what not, what they’ll deliver and what not. You have 0% stake in such third party and little to no visibility on how the decision is taken.
                </md-card-content>

                <md-card-actions>
                  <md-button href="articles/what-is-at-stake-for-brands">Read</md-button>
                </md-card-actions>
              </md-ripple>
            </md-card>
          </div>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import Vue from 'vue'
import VueParallaxJs from 'vue-parallax-js'
import Header from '~/components/Header.vue'
import Drawer from '~/components/Drawer.vue'
Vue.use(VueParallaxJs)

export default {
  components: {
    Header,
    Drawer
  },
  data: () => ({
    menuVisible: false
  }),
  created() {
    this.$nuxt.$on('toggle-menu', () => {
      this.menuVisible = !this.menuVisible
    })
  }
}
</script>

<style>
.hero{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/luftfracht.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
    margin-top: 80px!important;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 2.75rem;
    letter-spacing: -.5px;
    line-height: 3.25rem;
    color: #202124;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subheadline{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: center;
box-sizing: border-box;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-size: 1.375rem;
letter-spacing: 0;
line-height: 1.875rem;
color: #5f6368;
max-width: 950px;
margin: 22px 10px;
font-weight:300;
}
.btn--animate-top{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
box-sizing: border-box;
background-color: transparent;
text-decoration: none;
border: 0;
border-radius: 2px;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-weight: 500;
min-height: 36px;
outline: 0;
position: relative;
text-align: center;
transition: background-color .7s ease,color .7s ease;
font-size: 1rem;
letter-spacing: .5px;
display: inline-block;
padding: 15px 20px 15px 15px;
color: #448aff !important;
}
.btn--animate-top:hover{
color: #85b1ff !important;
}
.headertitle{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
    opacity: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: translateY(10px);
}
.subtitle{
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  opacity: 100;
  transform: translateY(10px);
  padding: 0px;
}
</style>
