<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="">
        <Header menuVisible="menuVisible"/>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible">
        <Drawer />
      </md-app-drawer>
      <md-app-content>
        <div class="md-layout" style="margin-top:20px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
              <div class="md-layout md-gutter" style="max-width: 1280px;">
                <div class="md-layout-item">
                  <md-button class="md-icon-button" href="/articles">
                    <md-icon>keyboard_arrow_left</md-icon>
                  </md-button>
                  <h3 class="headertitle">What is at stake for Brands and Intellectual Property in a non-trustless tomorrow?</h3>
                </div>
              </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <md-card class="author-card">
              <md-card-header>
                <md-avatar>
                  <img src="~/assets/TROSSI.jpg" alt="Avatar">
                </md-avatar>
                <div class="md-title">by Thomas Rossi <a href="https://twitter.com/th_s4m0ht" target="_blank"><TwitterIcon /></a></div>
                <div class="md-subhead">18th Nov. 2018</div>
              </md-card-header>
            </md-card>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout" style="margin-top:20px; margin-bottom:40px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
              <div class="md-layout md-gutter" style="max-width: 1280px;">
                <div class="md-layout-item">
                    <p class="subtitle">
                      Imagine a future where products are delivered at the frontdoor of your consumers by a third party, this third party decides what’s authentic what not, what they’ll deliver and what not. You have 0% stake in such third party and little to no visibility on how the decision is taken. If you feel the need for an auditable process with untampered data then you need a real blockchain. Similar arguments can be made for Patent Holders and the way they currently handle out materials before actual publications or patents. This is the scope of a serie of events arranged by European Intellectual Property Office EUIPO.
                    </p>
                    <center>
                      <img src="~/assets/article_01.png" alt="Future of Brands" class="resp-img">
                    </center>
                    <p class="subtitle">
                      EUIPO is sponsoring activities to understand how to improve defence and enforcement of Intellectual Property. After the anti-counterfeiting hackaton in June (Blockathon), there has been an official followup meeting with brand representatives in Alicante, home of EUIPO offices, in September and last week a round of conferences in Denmark focused on impacts specifically for IP (Blockchain Conference).
                    </p>
                    <p class="subtitle">
                      <i>In a way my “mission” was to make crystal clear what is at stake for brands in a future where third parties decide what is authentic and what not before they deliver it.</i>
                    </p>
                    <p class="subtitle">
                      Imagine a future where your products go through a distribution party, say Amazon or Alibaba, which decides if the goods are real or fake and whethere they are going to deliver them or not. The brand owner may or may not have influence over the third party (where having influence is probably the worse scenario) and opaque visibility on the decision process. Moreover the distribution channel also decides if to accept products from other brands which may be similar to your brand, so the general public can be confused between Lego toys and Logo toys. This is a perfect scenario for blockchain because you need to be sure the data, used by the distribution party to decide whether the objects are authentic, is the one you sent (utampered data) and also that the decision process executes the algorithm agreed upon (smart contracts). Finally, speaking of the disambiguation between similar brands, at the very least blockchain is an immutable proof that you can use to see who is claiming what.
                    </p>
                    <p class="subtitle">
                      In Alicante we had the chance to share updates after the Blockathon, the teams gave a brief about their latest activities and then took part to a workshop where we discussed and prioritised the key action points to fight counterfeits. The top priority was given to the ability to identify wrong goods. There was an interesting discussion on “where” to do it. Amazon produced some very eye-opening data where as little as 0.2% of consumer actually scan products if they are not incentivised and educated. Personally I also believe that as upstream as possible it’s best, i.e. the consumers may or may not have interest to do the detection work whereas logistics partners and distributors have higher incentives (don’t board on a plane fake batteries that can blow up, for instance). Nonetheless there are also good arguments to involve the consumers in the process. In order to achieve this the interoperability of the devised systems is very important. From the logistic operators and customs point of view it’s necessary to intercept irregularities but most of the scrutiny done today lives in isolated silos and it’s difficult to share knowledge.
                    </p>
                    <p class="subtitle">
                        <a target="_blank" href="https://euipo.europa.eu/ohimportal/en/web/observatory/news?p_p_id=csnews_WAR_csnewsportlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&journalId=4826143&journalRelatedId=manual/">Link to the official EU Observatory Minute</a>
                    </p>
                    <p class="subtitle">
                      In Denmark instead we were guests of Denmark Patent Office, which is structuring itself as a value added partner for Danish companies, helping them protect their business worldwide. Much to my surprise the event kicked off with a very detailed description of Bitcoin, what are the technologies behind the hood and how exactly it’s working. This has literally been amazing for me, the man (Erling the Greatest) laid down the basis for understanding the technology:
                    </p>
                    <ul>
                      <li class="default-text">i) peer to peer networking as the communication method between nodes</li>
                      <li class="default-text">ii) hashing as proof that something existed</li>
                      <li class="default-text">iii) asymmetric cryptography to show that one party has access to a particular key</li>
                      <li class="default-text">iv) mining as a mathematical competition that solves a problem created from signed transactions and all previous problems</li>
                    </ul>
                    <p class="subtitle">
                      The cool part was that all this technology was seen from a prosecutor point of view so that every point had a detailed link to how lawyers can use this at an advantage.
The event then went on introducing Marc Kaufman from Rimon Law PC, who went through how blockchain can help protect IP but also how IP is used by large players to protect their advancements in the field. Banks and IT giants are the most active blockchain patenting entities in the world. Marc was not only following the action for such players but also proposed a review of startups which are taking advantage of the decentralization. The metaphores driving the presentation where quite interesting:
                    </p>
                    <ul>
                      <li class="default-text">i) IP and Blockchain as Yin and Yang: complementary to each other,</li>
                      <li class="default-text">ii) Double edged swords, cryptocurrencies have indeed been used by criminals but also are very solid investigative traces (actually, committing a crime and leaving trace on a blockchain is definitely a poor idea, it’s going to stay there forever..)</li>
                    </ul>
                    <p class="subtitle">
                    The next speaker was Vaultitude, which showed its upcoming platform where Blockchain technology grants definitive proof of authorship, ensures superior defensive publication, secures the exchange of confidential information and monetizes the IP. It’s basically a suite where IP managers can store their patents information and track who has access to it, to whom and when part of their information is disclosed and also gives social networking tools to users which can interact and also request/offer quotes on their IP. The information is stored in an Ethereum smart contract. One thing I really appreciated was that the contract works with Ethereum and there is no funky ICO, the reason is that the core value of the company is ensuring and protecting information and this is done by logging into the Ethereum virtual machine, there is no need for tokens. If the clients are not familiar with Ethereum wallets Vaultitude just offers it as a consulting service. It’s the most reasonable and sound approach which avoids funky financial positions (rising capital via an ICO is still very iffy and can definitely go wrong in many ways) and also educates companies on why and how they should manage their own wallets.
                    </p>
                    <p class="subtitle">
                    Finally on our side we are still quite busy pumping out the protocol implementation and the first user interface. At the end of the day we cannot predict which is going to be the de-facto adoped blockchain technology so we are evolving our initial prototype to be blockchain-agnostic. Actually last week we released a first demo where a Brand Owner emits production orders on Litecoin testnet, the Production facility accepts the production order and commits the production on Bitcoin testnet which is then taken in charge by a Logistic Operator also on Bitcoin.
                    </p>
                    <center>
                      <img src="~/assets/article_01_architecture.png" alt="Eonpass architecture">
                    </center>
                    <hr/>
                    <p class="subtitle" style="margin-top:40px;">
                      <b>Final Notes</b>
                    </p>
                    <ul>
                      <li class="default-text">Every brand and logo is property of their respective owners (duly disclaimer given the topic!)</li>
                      <li class="default-text">Eonpass is quietly rolling out the first documentation with real litecoin-to-bitcoin exchange</li>
                      <li class="default-text">Thanks to EUIPO and E. The Greatest for arranging all the blockchain movement and events!</li>
                    </ul>
                </div>
              </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import Vue from 'vue'
import VueParallaxJs from 'vue-parallax-js'
import Header from '~/components/Header.vue'
import Drawer from '~/components/Drawer.vue'
import TwitterIcon from '~/components/TwitterIconDark.vue'
Vue.use(VueParallaxJs)

export default {
  components: {
    Header,
    Drawer,
    TwitterIcon
  },
  data: () => ({
    menuVisible: false
  }),
  created() {
    this.$nuxt.$on('toggle-menu', () => {
      this.menuVisible = !this.menuVisible
    })
  },
  head() {
    return {
      title: 'Eonpass - What is at stake for brands in a centralised future?',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Imagine a future where products are delivered at the frontdoor of your consumers by a third party, this third party decides what is authentic what not, what they will deliver and what not. You have 0% stake in such third party and little to no visibility on how the decision is taken.'
        },
        {
          name: 'author',
          content: 'Thomas Rossi'
        },
        {
          name: 'date',
          content: '2018-11-08T00:00:00-0600'
        },
        {
          name: 'publish_date',
          property: 'og:publish_date',
          content: '2018-11-08T00:00:00-0600'
        },
        {
          name: 'article-published_time',
          property: 'article:published_time',
          content: '2018-11-08T00:00:00-0600'
        },
        {
          name: 'article-modified_time',
          property: 'article:modified_time',
          content: '2018-11-08T00:00:00-0600'
        },
        {
          property: 'og:type',
          content: 'Article'
        },
        {
          name: 'image',
          property: 'og:image',
          content: 'https://eonpass.com/_nuxt/img/02a7adb.png'
        },
        {
          name: 'twitter:image',
          content: 'https://eonpass.com/_nuxt/img/02a7adb.png'
        },
        {
          name: 'twitter:card',
          content: 'summary_large_image'
        },
        {
          name: 'twitter:creator',
          content: '@th_s4m0ht'
        },
        {
          property: 'og:url',
          content: 'https://eonpass.com/articles/what-is-at-stake-for-brands'
        },
        {
          property: 'og:title',
          content: 'What is at stake for brands in a centralised future'
        },
        {
          property: 'og:description',
          content: 'Imagine a future where products are delivered at the frontdoor of your consumers by a third party, this third party decides what is authentic what not, what they will deliver and what not. You have 0% stake in such third party and little to no visibility on how the decision is taken.'
        }
      ],
      link: [
        {
          rel: 'canonical',
          href: 'https://medium.com/@th_s4m0ht/what-is-at-stake-for-brands-and-intellectual-property-in-a-non-trustless-tomorrow-44dc0b204971'
        }
      ]
    }
  }
}
</script>

<style>
.hero{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/luftfracht.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
    margin-top: 80px!important;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 2.75rem;
    letter-spacing: -.5px;
    line-height: 3.25rem;
    color: #202124;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subheadline{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: center;
box-sizing: border-box;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-size: 1.375rem;
letter-spacing: 0;
line-height: 1.875rem;
color: #5f6368;
max-width: 950px;
margin: 22px 10px;
font-weight:300;
}
.default-text{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
  font-size: 1.375rem !important;
  letter-spacing: 0;
  line-height: 1.875rem;
  color: #5f6368;
  font-weight:300 !important;
}
.btn--animate-top{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
box-sizing: border-box;
background-color: transparent;
text-decoration: none;
border: 0;
border-radius: 2px;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-weight: 500;
min-height: 36px;
outline: 0;
position: relative;
text-align: center;
transition: background-color .7s ease,color .7s ease;
font-size: 1rem;
letter-spacing: .5px;
display: inline-block;
padding: 15px 20px 15px 15px;
color: #448aff !important;
text-decoration: none;
}
.btn--animate-top:hover{
color: #85b1ff !important;
}
.headertitle{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
    opacity: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: translateY(10px);
}
.subtitle{
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  opacity: 100;
  transform: translateY(10px);
  padding: 0px;
}
.author-card{
  box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.md-list-item-text {
  white-space: initial !important;
}
.resp-img{
  max-width: 100%;
  height: auto;
}
</style>
