<template>
  <div>
        <md-toolbar class="md-transparent" md-elevation="0">Menu</md-toolbar>
        <md-list>
          <md-list-item href="#mission">
              <md-icon>star_border</md-icon>
              <span class="md-list-item-text">Mission</span>
          </md-list-item>

          <md-list-item md-expand :md-expanded.sync="expandNews">
            <md-icon>library_books</md-icon>
            <span class="md-list-item-text">Resources</span>
            <md-list slot="md-expand">
              <md-list-item class="md-inset" href="/articles">Articles</md-list-item>
              <md-list-item class="md-inset" href="https://gitlab.com/Eonpass/specs/blob/master/architecture.md" target="_blank">Gitlab Repos</md-list-item>
              <md-list-item class="md-inset" href="/ebsi-elsa" style="color:#4130AB">EBSI-ELSA Anticounterfeiting</md-list-item>
              <md-list-item class="md-inset" href="/bitcoin-trade-finance" style="color:#4130AB">Bitcoin Trade Finance</md-list-item>
            </md-list>
          </md-list-item>

          <md-list-item href="#team">
            <md-icon>perm_identity</md-icon>
            <span class="md-list-item-text">Team</span>
          </md-list-item>

        </md-list>
    </div>
</template>

<script>
export default {
  name: 'Drawer',
  data: () => {
    return {
      expandNews: false,
      expandIndustries: false
    }
  }
}
</script>

<style>
.md-toolbar .md-toolbar-row {
  background-color: #FFFFFF !important;
}
@media screen and (min-width: 959px) {
    .hide-below-small {
        /* Hide the Hamburger button but will leave an unused space */
        display: none;
    }
}
</style>
