<template>
  <footer class="page-footer">
  <CookieControl/>
  <div class="md-layout">
    <div class="md-layout-item md-size-15"></div>
    <div class="md-layout-item">
      <div class="md-layout md-gutter" style="max-width: 1280px;">
        <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100" style="margin-bottom:40px;">
          <h5 class="white-text">Eonpass</h5>
          <Mailchimp />
        </div>
        <div class="md-layout-item md-size-25 md-small-size-50 md-xsmall-size-50">
          <h5 class="white-text">About</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/#mission">Mission</a></li>
            <li><a class="grey-text text-lighten-3" href="/#team">Team</a></li>
            <li><a class="grey-text text-lighten-3" href="/privacy">Privacy</a></li>
          </ul>
        </div>
        <div class="md-layout-item md-size-25 md-small-size-50 md-xsmall-size-50">
          <h5 class="white-text">Community</h5>
          <ul>
            <li>
              <a href="https://www.linkedin.com/company/eonpass/" class="grey-text text-lighten-3" target="_blank">
                <div class="icon baseline">
                  <LinkedinIcon />
                </div>Company Page
              </a>
            </li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/th_s4m0ht"><div class="icon baseline"><TwitterIcon /></div></a>
            <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/thomasr0ssi/"><div class="icon baseline"><LinkedinIcon /></div>
            Thomas</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/riccardo-von-pozel-794398190/"><div class="icon baseline"><LinkedinIcon /></div>Riccardo</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/0xVaccaro"><div class="icon baseline"><TwitterIcon /></div>Luca</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/tulipan81"><div class="icon baseline"><TwitterIcon /></div>Valerio</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/FabianNiederko1"><div class="icon baseline"><TwitterIcon /></div>Fabian</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="md-layout-item md-size-15"></div>
  </div>
  <div class="md-layout" style="background-color:rgba(51,51,51,0.08); padding-top:20px; padding-bottom:20px;margin-top:20px;">
    <div class="md-layout-item md-size-15"></div>
    <div class="md-layout-item md-size-70" style="color: rgba(255,255,255,0.8);">
      © 2024 Eonpass S.r.l. <br/>
      <span style="font-weight: 200">VAT ID IT 02555360227 <br/>
      Made with ♥ in Milan</span>
    </div>
    <div class="md-layout-item md-size-15"></div>
  </div>
  </footer>
</template>

<script>
import TwitterIcon from './TwitterIcon.vue'
import LinkedinIcon from './LinkedinIcon.vue'
import Mailchimp from './Mailchimp.vue'

export default {
  components: {
    TwitterIcon,
    LinkedinIcon,
    Mailchimp
  }
}
</script>

<style>
.page-footer {
  background-color: #4130AB !important;
}
.icon {
    display: inline-flex;
    align-self: center;
}
.icon svg, .icon img {
    height: 1em;
    width: 1em;
    fill: currentColor;
}
.icon.baseline svg, .icon img {
    top: .125em;
    position: relative;
}
</style>
