<template>
    <div class="md-toolbar-row">
      <div class="md-toolbar-section-start">
          <md-button class="md-icon-button show-below-small" @click="$nuxt.$emit('toggle-menu')">
            <md-icon style="color:#4130AB">menu</md-icon>
          </md-button>
        <span class="md-title" style="min-width:122px"><a href="/"><img src="~/assets/small_eonpass_logo.jpg" style="height:24px"></a></span>
        <md-button class="hide-below-small" href="#mission" style="color:#4130AB">Mission</md-button>
        <md-button class="hide-below-small" href="#team" style="color:#4130AB">Team</md-button>
        <md-menu md-direction="bottom-start" class="hide-below-small">
          <md-button md-menu-trigger style="color:#4130AB">RESOURCES</md-button>
          <md-menu-content>
            <md-menu-item href="/articles" style="color:#4130AB">Articles</md-menu-item>
            <md-menu-item href="/ebsi-elsa" style="color:#4130AB">EBSI-ELSA Anticounterfeiting</md-menu-item>
            <md-menu-item href="/bitcoin-trade-finance" style="color:#4130AB">Bitcoin Trade Finance</md-menu-item>
            <md-menu-item href="https://gitlab.com/Eonpass/eonpeers" target="_blank" style="color:#4130AB">Main Repository</md-menu-item>
          </md-menu-content>
        </md-menu>
        <md-button href="https://beta.eonpass.com" style="color:#d35400; font-style: italic;">Beta 👀</md-button>
      </div>

      <div class="md-toolbar-section-end">
        <md-button href="/contact" style="color:#4130AB">Contact</md-button>
      </div>
    </div>

</template>

<script>

</script>

<style>
.md-toolbar .md-toolbar-row {
  background-color: #FFFFFF !important;
}
.md-button:focus {
  background-color: #4130AB !important;
}
@media screen and (min-width: 959px) {
    .show-below-small {
        /* Hide the Hamburger button but will leave an unused space */
        display: none;
    }
}
.hide-below-small {
    display: block !important;
}
@media only screen and (max-width: 959px) {
    .hide-below-small {
        display: none !important;
    }
}
</style>
