<template>
<div>
  <!-- Begin Mailchimp Signup Form -->
  <div id="mc_embed_signup">
  <form
  action="https://eonpass.us4.list-manage.com/subscribe/post?u=5841bb9d962daeb1694c46dbf&amp;id=71abf0349d"
  method="post"
  id="mc-embedded-subscribe-form"
  name="mc-embedded-subscribe-form"
  class="validate"
  target="_blank"
  novalidate>

  <div id="mc_embed_signup_scroll">
    <div class="md-layout">
    <div class="md-layout-item md-size-95">
      <div class="mc-field-group">
        <input
        type="email"
        value=""
        placeholder="Your Email Address.."
        name="EMAIL"
        class="required email specialinput"
        id="mce-EMAIL"
        v-model="inline">
        <span class="md-helper-text text-small" style="font-weight:300">Subscribe to our newsletter for updates</span>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5841bb9d962daeb1694c46dbf_71abf0349d" tabindex="-1" value=""></div>
      <div class="clear"></div>
    </div>
    <div class="md-layout-item md-size-5">
      <md-button name="subscribe" id="mc-embedded-subscribe" class="md-icon-button pull"><md-icon style="color:white">arrow_forward</md-icon></md-button>
    </div>
    </div>
  </div>
  </form>
  </div>
  <!--End mc_embed_signup-->
</div>
</template>

<style>
.pull {
  margin-left:-40px;
}
.specialinput{
  color: #FFFFFF !important;
  background: #4130AB !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #4130AB inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}
</style>
