<template>
  <svg width="25" height="25" version="1.1" xmlns="http://www.w3.org/2000/svg">
 <path d="M14.88 10.59 24.19 0h-2.21l-8.09 9.20L7.45 0H0l9.76 13.91L0 25h2.21l8.53-9.72 6.82 9.72h7.44M3.00 1.63h3.39l15.59 21.84h-3.39" transform="scale(0.55)" stroke="white"/>
</svg>
</template>
