<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="">
        <Header menuVisible="menuVisible"/>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible">
        <Drawer />
      </md-app-drawer>
      <md-app-content>
        <div class="md-layout">
          <div class="md-layout-item md-size-100 hero-bitcoin">
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1032px;">
              <div class="md-layout-item">
                <center>
                <h2 class="headline">
                Bitcoin Trade Finance
                </h2>
                <p class="subheadline" style="max-width:950px;">
                <b>Eonpass</b> can streamline the escrow system and facilitate contact with banks to shileld you from Bitcoin's ups and downs.
                </p>
                <p style="margin-top:85px; font-size:16px; padding: 15px;">
                  Get in touch
                </p>
                <div  style="margin-bottom:85px;">
                  <md-button class="md-primary md-raised" href="/contact">Contact Us</md-button>
                  <md-button class="md-secondary" href="http://eepurl.com/g-73Mb">Newsletter</md-button>
                </div>

                <div class="row" style="margin-bottom:85px;">
                  <div class="col l6 m6 s12">
                    <img src="~/assets/Website_Schnorr.jpg" width="100%"></img>
                  
                  </div>
                  <div class="col l6 m6 s12">
                    <p style="margin-bottom:15px;">
                      <b>Escrow address</b></br>
                      A special address is created, P2SH with a Schnorr signature, which can be opened only when a trusted third party like a Bank signs a message.
                    </p>
                    <p style="margin-bottom:15px;">
                      <b>Volatility Protection</b></br>
                      We have contact with banks selling and buying total return swaps on Bitcoin, meaning that you can lock the current value of Bitcoin for the time needed.
                    </p>
                    <p style="margin-bottom:15px;">
                      <b>Accept Bitcoin</b></br>
                      Accept the hardest money on this planet as payment!
                    </p>
                  </div>
                </div>

                
                </center>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout">
          <a id="mission"></a>
          <div class="md-layout-item md-size-100" style="max-height:450px; overflow:hidden;">
            <img src="~/assets/bitcoinstorage.jpg" width="100%" v-parallax="0.2"></img>
          </div>
        </div>
        <div class="md-layout" style="margin-top:20px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1032px;;">
              <div class="md-layout-item">
                <center>
                  <h3 class="headertitle" style="max-width:671px;">Simple and Reliable</h3>
                  <p class="subtitle" style="max-width:1032px;;">
                    We also offer consulting services to help you setup and maintain your own custodianship solution, we provide one to one coaching, guides and periodic checks on the setup. We teach the best methods and never know or hold any of your crypto assets.
                  </p>
                </center>
                <div class="row" style="margin-bottom:100px;">
                  <div class="col l4 m12">
                    <p class="subheadline">
                    <b>Air Gapped</b></br>
                    Solutions we provide never touch the internet.
                    </p>
                  </div>
                  <div class="col l4 m12">
                    <p class="subheadline">
                    <b>Multisig and OTP</b></br>
                    Multi signatures or one time pads to distribute the spending key across different locations.
                    </p>
                  </div>
                  <div class="col l4 m12">
                    <p class="subheadline">
                    <b>Exchanges and OTC</b></br>
                    We provide a selection of partners for executing sales and purchases of Bitcoin.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import Vue from 'vue'
import VueParallaxJs from 'vue-parallax-js'
import Header from '~/components/Header.vue'
import Drawer from '~/components/Drawer.vue'

Vue.use(VueParallaxJs)

export default {
  components: {
    Header,
    Drawer
  },
  data: () => ({
    menuVisible: false
  }),
  created() {
    this.$nuxt.$on('toggle-menu', () => {
      this.menuVisible = !this.menuVisible
    })
  }
}
</script>

<style>
.hero{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/luftfracht.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-merkurio{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/floating-market.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-bitcoin{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/bitcoin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
    margin-top: 80px!important;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 2.75rem;
    letter-spacing: -.5px;
    line-height: 3.25rem;
    color: #202124;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subheadline{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: center;
box-sizing: border-box;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-size: 1.375rem;
letter-spacing: 0;
line-height: 1.875rem;
color: #5f6368;
max-width: 950px;
margin: 22px 10px;
font-weight:300;
}
.btn--animate-top{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
box-sizing: border-box;
background-color: transparent;
text-decoration: none;
border: 0;
border-radius: 2px;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-weight: 500;
min-height: 36px;
outline: 0;
position: relative;
text-align: center;
transition: background-color .3s ease,color .3s ease;
font-size: 1rem;
letter-spacing: .5px;
display: inline-block;
padding: 15px 20px 15px 15px;
color: #448aff !important;
}
.headertitle{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
    opacity: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: translateY(10px);
}
.subtitle{
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  opacity: 100;
  transform: translateY(10px);
  padding: 0px;
}
</style>
