<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="">
        <Header menuVisible="menuVisible"/>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible">
        <Drawer />
      </md-app-drawer>
      <md-app-content>
        <div class="md-layout">
          <div class="md-layout-item" style="min-height:1100px">
            <center>
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdCRsn1ae2zyDm2hgznY8romjP1EKUwTWGoHVUzWt12no8c3Q/viewform?embedded=true" width="640" height="979" frameborder="0" marginheight="0" marginwidth="0" style="min-height:1100px">Loading…</iframe>
            </center>
          </div>
        </div>
        
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import Vue from 'vue'
import VueParallaxJs from 'vue-parallax-js'
import Header from '~/components/Header.vue'
import Drawer from '~/components/Drawer.vue'
Vue.use(VueParallaxJs)

export default {
  components: {
    Header,
    Drawer
  },
  data: () => ({
    menuVisible: false
  }),
  created() {
    this.$nuxt.$on('toggle-menu', () => {
      this.menuVisible = !this.menuVisible
    })
  }
}
</script>

<style>
.hero{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/luftfracht.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
    margin-top: 80px!important;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 2.75rem;
    letter-spacing: -.5px;
    line-height: 3.25rem;
    color: #202124;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subheadline{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: center;
box-sizing: border-box;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-size: 1.375rem;
letter-spacing: 0;
line-height: 1.875rem;
color: #5f6368;
max-width: 950px;
margin: 22px 10px;
font-weight:300;
}
.btn--animate-top{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
box-sizing: border-box;
background-color: transparent;
text-decoration: none;
border: 0;
border-radius: 2px;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-weight: 500;
min-height: 36px;
outline: 0;
position: relative;
text-align: center;
transition: background-color .7s ease,color .7s ease;
font-size: 1rem;
letter-spacing: .5px;
display: inline-block;
padding: 15px 20px 15px 15px;
color: #448aff !important;
}
.btn--animate-top:hover{
color: #85b1ff !important;
}
.headertitle{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
    opacity: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: translateY(10px);
}
.subtitle{
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  opacity: 100;
  transform: translateY(10px);
  padding: 0px;
}
</style>
