<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="">
        <Header menuVisible="menuVisible"/>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible">
        <Drawer />
      </md-app-drawer>
      <md-app-content>
        <div class="md-layout">
          <div class="md-layout-item md-size-100 hero-euipo">
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1032px;">
              <div class="md-layout-item">
                <center>
                  <h2 class="headline">
                  EBSI-ELSA
                  </h2>
                  <p class="subheadline" style="max-width:950px;">
                  <b>EBSI</b> is the EU Blockchain Service Infrastructure. ELSA is the EUIPO sponsored ecosystem to ensure product and shipment authenticity. Eonpass has developed the open protocol at the base of EBSI-ELSA and various tools for leveraging EBSI capabilities.
                  </p>
                  <p style="margin-top:85px; font-size:16px; padding: 15px;">
                    Get involved
                  </p>
                  <div  style="margin-bottom:100px;">
                    <md-button class="md-primary md-raised" href="https://www.euipo.europa.eu/en/observatory/enforcement/blockathon/ebsi-elsa" target="_blank">EUIPO Resources</md-button>
                    <md-button class="md-secondary md-raised" href="/contact">Contact Us</md-button>
                  </div>

                  <div  style="height:315px; margin-bottom:65px">
                  <iframe width="560" height="315" style="height:315px!important" src="https://www.youtube.com/embed/aQKnazbrl84?si=c7XANkRP8KR3vaw8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                </center>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <!--div class="md-layout">
          <div class="md-layout-item md-size-100" style="max-height:450px; overflow:hidden;">
            <img src="~/assets/services-export.jpeg" width="100%" v-parallax="0.2"></img>
          </div>
        </div-->
        <div class="md-layout" style="margin-top:20px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1032px;">
              <div class="md-layout-item">
                <center>
                  <h3 class="headertitle" style="max-width:671px;">How does it work?</h3>
                  <p class="subtitle" style="max-width:1032px; margin-bottom:85px;">
                    EUIPO emits digital credentials for Brands. Credentials contain keys that are used to sign shipment requests in the logistics network and validate the good standing of the request.
                  </p>
                </center>
                <div class="row" style="margin-bottom:85px;">
                  <div class="col l6 m6 s12">
                    <img src="~/assets/LogisticsNode.jpg" width="100%"></img>
                  
                  </div>
                  <div class="col l6 m6 s12">
                    <p style="margin-bottom:15px;">
                      <b>Automated Integrations</b></br>
                      Nodes can connect to each other with no effort. No more long and expensive integration projects. You own your database and share only information when you want to.
                    </p>
                    <p style="margin-bottom:15px;">
                      <b>Track shipments from the commercial phase</b></br>
                      So that it's easy to do billing reconciliations. Manage multiple clients and providers, easily shape and reshape your supply chain.
                    </p>
                    <p style="margin-bottom:15px;">
                      <b>Connect with Authorities</b></br>
                      During the proof of concept Dutch Custom could request access to see shipment data even a month before receiving the documents for Cusotms clearance. This improves risk assessment and process speed.
                    </p>
                  </div>
                </div>
                <div class="row" style="margin-bottom:85px;">
                  <center>
                  <h3 class="headertitle" style="max-width:671px; margin-bottom: 60px;">What Eonpass can do for you:</h3>
                  </center>
                  <div class="col l4 m12">
                    <span class="subheadline">
                      <b>ELSA Logistics</b></br>
                      </span>
                      <ul class="collection">
                        <li class="collection-item">High end hosting.</li>
                        <li class="collection-item">Mapping your processes to ELSA ones.</li>
                        <li class="collection-item">Dedicated Platform.</li>
                        <li class="collection-item">Support and training.</li>
                      </ul>
                  </div>
                  <div class="col l4 m12">
                    <span class="subheadline">
                      <b>Analytics and AI</b></br>
                      </span>
                      <ul class="collection">
                        <li class="collection-item">Connect web traffic, CRM and logistics.</li>
                        <li class="collection-item">Detect suspicous cases.</li>
                        <li class="collection-item">Item per item logistics costs.</li>
                        <li class="collection-item">Bespoke analysis.</li>
                      </ul>
                  </div>
                  <div class="col l4 m12">
                    <span class="subheadline">
                      <b>EBSI Experts</b></br>
                      </span>
                      <ul class="collection">
                        <li class="collection-item">Deep knowledge of EBSI APIs.</li>
                        <li class="collection-item">Guide and support integration.</li>
                        <li class="collection-item">Java and Python libraries.</li>
                      </ul>
                  </div>
                </div>
                <div  style="margin-bottom:85px;">
                  <center>
                    <md-button class="md-primary md-raised" href="/contact">Contact Us</md-button>
                    <md-button class="md-secondary md-raised" href="http://eepurl.com/g-73Mb">Newsletter</md-button>
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import Vue from 'vue'
import VueParallaxJs from 'vue-parallax-js'
import Header from '~/components/Header.vue'
import Drawer from '~/components/Drawer.vue'

Vue.use(VueParallaxJs)

export default {
  components: {
    Header,
    Drawer
  },
  data: () => ({
    menuVisible: false
  }),
  created() {
    this.$nuxt.$on('toggle-menu', () => {
      this.menuVisible = !this.menuVisible
    })
  }
}
</script>

<style>
.hero{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/luftfracht.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-merkurio{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/floating-market.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-euipo{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/euflags3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
    margin-top: 80px!important;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 2.75rem;
    letter-spacing: -.5px;
    line-height: 3.25rem;
    color: #202124;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subheadline{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: center;
box-sizing: border-box;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-size: 1.375rem;
letter-spacing: 0;
line-height: 1.875rem;
color: #5f6368;
max-width: 950px;
margin: 22px 10px;
font-weight:300;
}
.btn--animate-top{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
box-sizing: border-box;
background-color: transparent;
text-decoration: none;
border: 0;
border-radius: 2px;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-weight: 500;
min-height: 36px;
outline: 0;
position: relative;
text-align: center;
transition: background-color .3s ease,color .3s ease;
font-size: 1rem;
letter-spacing: .5px;
display: inline-block;
padding: 15px 20px 15px 15px;
color: #448aff !important;
}
.headertitle{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
    opacity: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: translateY(10px);
}
.subtitle{
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  opacity: 100;
  transform: translateY(10px);
  padding: 0px;
}
</style>
