<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="">
        <Header menuVisible="menuVisible"/>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible">
        <Drawer />
      </md-app-drawer>
      <md-app-content>
        <div class="md-layout">
          <div class="md-layout-item md-size-100 hero">
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1032px; margin:0 auto;">
              <div class="md-layout-item">
                <md-dialog :md-active.sync="isVideoActive">
                    <video controls autoplay>
                      <source src="~/assets/EONPASS_voice_only.mp4" type="video/mp4">
                    </video>
                    <md-dialog-actions>
                      <md-button class="md-secondary" @click="isVideoActive = false">Close</md-button>
                    </md-dialog-actions>
                </md-dialog>
                <center>
                  <h2 class="headline">
                  Detect fakes in your supply chain
                  </h2>
                  <p style="margin-top:85px;">
                  <a class="btn--animate-top" target="_blank" href="https://www.euipo.europa.eu/en/observatory/enforcement/blockathon">
                    Member of the Official EU Anti-counterfeiting infrastructure
                    <svg
                    aria-hidden="false"
                    role="presentation"
                    fill=""
                    class="icon"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 28 28">
                    <path d="M14,28 C6.2680135,28 0,21.7319865 0,14 C0,6.2680135 6.2680135,0 14,0 C21.7319865,0 28,6.2680135 28,14 C28,21.7319865 21.7319865,28 14,28 Z M14.5,7 L13.178125,8.321875 L18.409375,13.5625 L7,13.5625 L7,15.4375 L18.409375,15.4375 L13.178125,20.678125 L14.5,22 L22,14.5 L14.5,7 Z" fill="#448aff" transform="translate(-6, 14) rotate(-45)"></path>
                    </svg>
                  </a>
                  </p>
                  <div  style="margin-bottom:100px;">
                    <md-button class="md-primary md-raised" href="/contact">Contact Us</md-button>
                    <md-button @click="isVideoActive = true" class="md-secondary md-raised">Play Video</md-button>
                    <md-button class="md-secondary md-raised" href="http://eepurl.com/g-73Mb">Newsletter</md-button>
                  </div>
                  <p class="subheadline" style="max-width:950px;">
                    Partners and Awards
                  </p>
                </center>
              </div>
            </div>
            <div class="md-layout md-gutter" style="max-width: 1032px; margin:0 auto;">
              <div class="md-layout-item">
                <div class="md-layout md-gutter" style=" margin-bottom:50px;">
                  <div class="md-layout-item md-size-25 md-xsmall-size-50" style="text-align:center"><a href="https://euipo.europa.eu/ohimportal/en/news/-/action/view/9259383" target="_blank"><img src="~/assets/EUIPO_LOGO_EN.png" style="max-height:40px;"></img></a></div>
                  <div class="md-layout-item md-size-25 md-xsmall-size-50" style="text-align:center; height:40px;"><span class="helper"></span><a href="https://euipo.europa.eu/ohimportal/en/news/-/action/view/9259383" target="_blank"><img src="~/assets/EY_logo_slogan.png" style="max-height:30px;margin-top:-12px;"></img></a></div>
                  <div class="md-layout-item md-size-25 md-xsmall-size-50" style="text-align:center; height:40px;"><span class="helper"></span><a href="https://euipo.europa.eu/ohimportal/en/news/-/action/view/9259383" target="_blank"><img src="~/assets/LogoJAS.png" style="max-height:20px;" class="imghelper"></img></a></div>
                  <div class="md-layout-item md-size-25 md-xsmall-size-50" style="text-align:center"><a href="https://solutions.odyssey.org/hackathon-2020-klm-cargo-challenge-compliant-air-cargo-flow/" target="_blank"><img src="~/assets/AFKLCARGO.jpeg" style="max-height:40px;"></img></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-100" style="max-height:450px; overflow:hidden;">
            <img src="~/assets/services-export.jpeg" width="100%" v-parallax="0.2"></img>
          </div>
        </div>
        <a id="mission"></a>
        <div class="md-layout">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
              <div class="md-layout md-gutter" style="max-width: 1032px; margin:0 auto;">
                <div class="md-layout-item">
                  <section class="section-mission">
                    <div>
                        <div class="row">
                            <div class="col s12 center-align mb-5">
                                <h5>Prevent damage from counterfeits</h5>
                                <p class="mission-text">Eonpass helps companies connect smoothly and proves logistics data exchanges for Customs. The network ensures only verified brand owners request shipments, flagging similar but unauthorized ones as potential counterfeits or parallel imports. By merging logistics data with CRM, web traffic, and secondary market info, Eonpass detects supply chain issues better. Your trade secrets stay safe, with you deciding what to share.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m6">
                                <h6 class="center-align mb-4">for Brand Owners</h6>
                                <div class="row">
                                    <div class="col l12 m12">
                                        <div class="card advantage-card center-align">
                                            <div class="card-content">
                                                <div class="advantage-icon">🔒 Security</div>
                                                <p>Ensure product authenticity throughout the supply chain.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l12 m12">
                                        <div class="card advantage-card center-align">
                                            <div class="card-content">
                                                <div class="advantage-icon">🌐 Reach</div>
                                                <p>Participate in digital solutions for EU regulation and compliance.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l12 m12">
                                        <div class="card advantage-card center-align">
                                            <div class="card-content">
                                                <div class="advantage-icon">💼 Protection</div>
                                                <p>Gather valuable intelligence to enhance brand protection.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col m6">
                                <h6 class="center-align mb-4">for Logistics Operators</h6>
                                <div class="row">
                                    <div class="col l12 m12">
                                        <div class="card advantage-card center-align">
                                            <div class="card-content">
                                                <div class="advantage-icon">🚚 Efficiency</div>
                                                <p>Easily connect with new clients, ensuring precision and compliance.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l12 m12">
                                        <div class="card advantage-card center-align">
                                            <div class="card-content">
                                                <div class="advantage-icon">🤝 Cooperation</div>
                                                <p>Innovate with Customs through pilots with the EUIPO.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l12 m12">
                                        <div class="card advantage-card center-align">
                                            <div class="card-content">
                                                <div class="advantage-icon">💰 High-end</div>
                                                <p>Collaborate with high-value clients' brand protection departments.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </section>
                </div>
              </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout">
          <a id="team"></a>
          <div class="md-layout-item md-size-100" style="max-height:500px; overflow:hidden">
            <img src="~/assets/team.jpg" width="100%" v-parallax="0.2"></img>
          </div>
        </div>
        <div class="md-layout" style="margin-bottom:10px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1032; margin:0 auto;">
              <div class="md-layout-item md-size-100">
                
                <section class="team-section">
                  <div class="container">
                      <div class="row">
                          <div class="col s12 center-align">
                              <h5 class="team-headertitle">Team</h5>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col s12">
                              <p class="team-subtitle">In 2023, we won the <a href="https://euipo.europa.eu/ohimportal/en/news/-/action/view/9259383" target="_blank">EU Official tender for the anti-counterfeiting infrastructure</a> in consortium with EY Advisory and JAS Jet Air Service, and built the basis for the architecture used by 4 major European brands.</p>
                          </div>
                          <div class="col s12">
                              <p class="team-subtitle">Proving our commitment to excellence, we won the <a href="https://solutions.odyssey.org/hackathon-2020-klm-cargo-challenge-compliant-air-cargo-flow/" target="_blank">Air Cargo Compliance</a> challenge in Odyssey Momentum 2020, the biggest hackathon in Europe with 2000 participants from 60 countries.</p>
                          </div>
                          <div class="col s12">
                              <p class="team-subtitle">In 2019, we won the <a href="https://devpost.com/software/eonpass-p2zol7" target="_blank">Liquid Hackathon at Bitcoin2019</a> for the implementation over Liquid, the Bitcoin sidechain which grants confidentiality between parties.</p>
                          </div>
                          <div class="col s12">
                              <p class="team-subtitle">Eonpass was born taking <a href="https://euipo.europa.eu/ohimportal/en/web/observatory/blockathon" target="_blank">first place at the EUIPO Blockathon 2018</a>, the EU-sponsored hackathon to stop counterfeiting with blockchain. Our edge was the blockchain-agnostic and open-source protocol that we are improving today.</p>
                          </div>
                      </div>
                  </div>
                </section>

              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import Vue from 'vue'
import VueParallaxJs from 'vue-parallax-js'
import Header from '~/components/Header.vue'
import Drawer from '~/components/Drawer.vue'
Vue.use(VueParallaxJs)

export default {
  components: {
    Header,
    Drawer
  },
  data: () => ({
    isVideoActive: false,
    menuVisible: false
  }),
  created() {
    this.$nuxt.$on('toggle-menu', () => {
      this.menuVisible = !this.menuVisible
    })
  }
}
</script>

<style>
.hero{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/luftfracht.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
    margin-top: 80px!important;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 2.75rem;
    letter-spacing: -.5px;
    line-height: 3.25rem;
    color: #202124;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subheadline{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: center;
box-sizing: border-box;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-size: 1.375rem;
letter-spacing: 0;
line-height: 1.875rem;
color: #5f6368;
max-width: 950px;
margin: 22px 10px;
font-weight:300;
}
.btn--animate-top{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
box-sizing: border-box;
background-color: transparent;
text-decoration: none;
border: 0;
border-radius: 2px;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-weight: 500;
min-height: 36px;
outline: 0;
position: relative;
text-align: center;
transition: background-color .7s ease,color .7s ease;
font-size: 1rem;
letter-spacing: .5px;
display: inline-block;
padding: 15px 20px 15px 15px;
color: #448aff !important;
}
.btn--animate-top:hover{
color: #85b1ff !important;
}
.headertitle{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
    opacity: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: translateY(10px);
}
.subtitle{
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  opacity: 100;
  transform: translateY(10px);
  padding: 0px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.imghelper{
  vertical-align: middle;
}

.section-mission {
    background-color: #f8f9fa;
    padding: 60px 0;
}
.mission-text {
    margin-bottom: 40px;
}
.advantage-card {
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.advantage-card:hover {
    transform: translateY(-10px);
}
.advantage-icon {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #007bff;
}
.advantage-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.team-section {
    background-color: #ffffff;
    padding: 60px 0;
}
.team-headertitle {

    margin-bottom: 30px;
}
.team-subtitle {
    max-width: 1032px;
    margin: 15px auto;

    color: #333;
}
.team-subtitle a {
    color: #007bff;
    text-decoration: underline;
}
</style>
