<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="">
        <Header menuVisible="menuVisible"/>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible">
        <Drawer />
      </md-app-drawer>
      <md-app-content>
        <div class="md-layout">
          <div class="md-layout-item md-size-100 hero-euipo">
          </div>
        </div>
        <div class="md-layout">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1032px;">
              <div class="md-layout-item">
                <center>
                  <h2 class="headline">
                  Fake Drugs and Parallel Import
                  </h2>
                  <p class="subheadline" style="max-width:950px;">
                  Eonpass builds intelligence from your data: supply chain logistics, consumers' scans or web traffic, reazioni avverse.
                  </p>
                  <p style="margin-top:85px; font-size:16px; padding: 15px;">
                    Get a counterfeit or parallel import score for customers'interactions and for your providers. Prevent, anticipate and monitor.
                  </p>
                  <div  style="margin-bottom:100px;">
                    <md-button class="md-primary md-raised" href="https://calendly.com/eonpass/30min" target="_blank">Book a call</md-button>
                    <md-button class="md-secondary md-raised" href="/contact">Contact Us</md-button>
                  </div>
                </center>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
        <div class="md-layout" style="margin-top:20px;">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1032px;">
              <div class="md-layout-item">
                <div class="row">
                <center>
                  <h3 class="headertitle" style="max-width:671px;">How does it work?</h3>
                  <p class="subtitle" style="max-width:1032px;">
                    You share a sample data set with us, completely anonymised, we build an AI agent that will learn to detect your problems. You can connect to it via API or you can inspect the findings through our <a href="https://beta.eonpass.com" target="_new">portal</a>.
                  </p>
                  <p class="subtitle" style="max-width:1032px;">
                    Why is this time different? Why no focus on the serialization technique? 
                  </p>
                  <p class="subtitle" style="max-width:1032px; margin-bottom:85px;">
                    Those are great questions! Item by item identification can't really work at scale and cannot be adopted by authorities anyway. We have worked with the EUIPO to ensure that our open source stack is adoped by authorities. Moreover our AI Agents detect behavior and deviation from expected behavior. If safe serialization techniques are used they can also be added to the feature set used by our Agents, but they are not necessary for our analysis.
                  </p>
                </center>
                </div>
                <div class="row" style="margin-bottom:85px;">
                  <div class="col l6 m6 s12">
                    <img src="~/assets/LogisticsNode.jpg" width="100%"></img>
                  
                  </div>
                  <div class="col l6 m6 s12">
                    <p style="margin-bottom:15px;">
                      <b>Setup phases</b></br>
                      We build your dedicated agent to identify counterfeit problems starting from historical and anonymised data. This phase is experimental, we don't charge for it.
                    </p>
                    <p style="margin-bottom:15px;">
                      <b>Pilot Validation Phase</b></br>
                      Once the first agent is ready we validate on fresh and real incoming data, this can be via API or still via batch Excel/Csv files.
                    </p>
                    <p style="margin-bottom:15px;">
                      <b>Scale up Phase</b></br>
                      The first agent usually detects problems for a specific product family or shipment type, after you are satisfied, we sit down and plan how to scale to other product families or produciton lines.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import Vue from 'vue'
import VueParallaxJs from 'vue-parallax-js'
import Header from '~/components/Header.vue'
import Drawer from '~/components/Drawer.vue'

Vue.use(VueParallaxJs)

export default {
  components: {
    Header,
    Drawer
  },
  data: () => ({
    menuVisible: false
  }),
  created() {
    this.$nuxt.$on('toggle-menu', () => {
      this.menuVisible = !this.menuVisible
    })
  }
}
</script>

<style>
.hero{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/luftfracht.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-merkurio{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/floating-market.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-euipo{
  margin-top:-100px;
  height:450px;
  overflow:hidden;
  background: url("~assets/euflags3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline{
    margin-top: 80px!important;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 2.75rem;
    letter-spacing: -.5px;
    line-height: 3.25rem;
    color: #202124;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.subheadline{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: center;
box-sizing: border-box;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-size: 1.375rem;
letter-spacing: 0;
line-height: 1.875rem;
color: #5f6368;
max-width: 950px;
margin: 22px 10px;
font-weight:300;
}
.btn--animate-top{
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
box-sizing: border-box;
background-color: transparent;
text-decoration: none;
border: 0;
border-radius: 2px;
font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
font-weight: 500;
min-height: 36px;
outline: 0;
position: relative;
text-align: center;
transition: background-color .3s ease,color .3s ease;
font-size: 1rem;
letter-spacing: .5px;
display: inline-block;
padding: 15px 20px 15px 15px;
color: #448aff !important;
}
.headertitle{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
    opacity: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: translateY(10px);
}
.subtitle{
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  opacity: 100;
  transform: translateY(10px);
  padding: 0px;
}
</style>
