<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="">
        <Header menuVisible="menuVisible"/>
      </md-app-toolbar>
      <md-app-drawer :md-active.sync="menuVisible">
        <Drawer />
      </md-app-drawer>

      <md-app-content>
        <div class="md-layout">
          <div class="md-layout-item md-size-15"></div>
          <div class="md-layout-item">
            <div class="md-layout md-gutter" style="max-width: 1280px;">
              <h1>Privacy & Cookie Policy </h1>
              <div class="block-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-sm-12 " data-analytics-template-zone="body">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset- col-md-offset-">
        <div class="content-module rte-inline col-sm-12 col-xs-12  module" data-analytics-module-name="contentmodule">
            <article>
<p><em>La presente informativa sulla privacy è in vigore dal 11 gennaio 2020. La presente informativa sulla privacy verrà regolarmente aggiornata in modo da riflettere qualsiasi modifica alle modalità con cui Eonpass tratta i vostri dati personali o qualsiasi cambiamento delle leggi applicabili.</em></p>

<p>La presente pagina e le successive forniscono tutte le informazioni sul modo in cui Eonpass S.r.l.; e/o le sue affiliate, filiali e le società recentemente acquisite ("Eonpass"; "noi") proteggono i dati personali che trattiamo e di cui siamo titolari e che vi riguardano ("dati personali", "vostri dati") e quali sono i vostri diritti in relazione a tali dati.</p>
<p>Di seguito viene fornita una descrizione generale sulle modalità con cui Eonpass protegge i vostri dati personali. Vengono inoltre fornite informazioni specifiche sui seguenti argomenti:</p>
<ul>
 <li><a href="privacy/#personal-data-visit-Eonpass-website" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="come utilizziamo i vostri dati personali quando visitate il sito web di Eonpass?" data-analytics-content-type="engagement">Come utilizziamo i vostri dati personali quando visitate il sito web di Eonpass?</a></li>
 <li><a href="privacy/#use-cookies" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="come utilizziamo i cookie (e altre tecnologie di tracciamento similari?" data-analytics-content-type="engagement">Come utilizziamo i cookie (e altre tecnologie di tracciamento similari?</a></li>
 <li><a href="privacy/#personal-data-visit-our-office" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="come utilizziamo i vostri dati personali quando visitate i nostri uffici?" data-analytics-content-type="engagement">Come utilizziamo i vostri dati personali quando visitate i nostri uffici?</a></li>
 <li><a href="privacy/#personal-data-marketing-purposes" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="come utilizziamo i vostri dati personali per finalità di marketing?" data-analytics-content-type="engagement">Come utilizziamo i vostri dati personali per finalità di marketing?</a></li>
</ul>

<h5 class="module-title">1. In Che modo Eonpass protegge i vostri Dati Personali?</h5>
<p>Eonpass attribuisce grande importanza al diritto alla privacy e alla protezione dei vostri dati personali. Vogliamo che vi sentiate sicuri nell’interazione con Eonpass: i vostri dati personali sono in buone mani.</p>
<p>Eonpass protegge i dati personali degli utenti nel rispetto delle leggi applicabili e delle sue policy sul trattamento dei dati personali. Inoltre, adotta adeguate misure tecniche e organizzative per proteggere i vostri dati personali contro il trattamento non autorizzato o illegale e/o contro la perdita accidentale, l’alterazione, la divulgazione o accesso, ovvero distruzione accidentale o illegale o danni a essi relativi.</p>
<p>Nelle sezioni seguenti vengono fornite ulteriori informazioni su come Eonpass tratta i dati personali degli utenti:</p>
<ul>
 <li><a href="privacy/#protect-your-personal-data-1" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="quali categorie di dati personali raccoglie Eonpass e come vengono trattati?" data-analytics-content-type="engagement">Quali categorie di dati personali raccoglie Eonpass e come vengono trattati?</a></li>
 <li><a href="privacy/#protect-your-personal-data-2" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="per quali finalità e su quale base giuridica utilizziamo i vostri dati personali?" data-analytics-content-type="engagement">Per quali finalità e su quale base giuridica utilizziamo i vostri dati personali?</a></li>
 <li><a href="privacy/#protect-your-personal-data-3" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="Eonpass condivide con terze parti i vostri dati personali?" data-analytics-content-type="engagement">Eonpass condivide con terze parti i vostri dati personali?</a></li>
 <li><a href="privacy/#protect-your-personal-data-4" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="come trattiamo i dati sensibili?" data-analytics-content-type="engagement">Come trattiamo i dati sensibili?</a><span id="protect-your-personal-data-1"></span></li>
 <li><a href="privacy/#protect-your-personal-data-5" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="come garantiamo la sicurezza dei dati?" data-analytics-content-type="engagement">Come garantiamo la sicurezza dei dati?</a></li>
 <li><a href="privacy/#protect-your-personal-data-6" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="dove saranno trattati i vostri dati personali?" data-analytics-content-type="engagement">Dove saranno trattati i vostri dati personali?</a></li>
 <li><a href="privacy/#protect-your-personal-data-7" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="per quanto tempo Eonpass conserverà i vostri dati personali?" data-analytics-content-type="engagement">Per quanto tempo Eonpass conserverà i vostri dati personali?</a></li>
 <li><a href="privacy/#protect-your-personal-data-8" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="quali sono i vostri diritti in relazione al trattamento dei dati personali?" data-analytics-content-type="engagement">Quali sono i vostri diritti in relazione al trattamento dei dati personali?</a></li>
</ul>
<span id="protect-your-personal-data-1"></span>
<p><strong>Quali categorie di dati personali raccoglie Eonpass e come vengono trattati?</strong></p>
<p>Eonpass raccoglie i dati personali di dipendenti, candidati, clienti, fornitori, contatti in ambito business, azionisti e utenti del sito web. Se i dati che raccogliamo non sono elencati in questa informativa sulla privacy, forniremo agli interessati (ove richiesto per legge) un'adeguata informativa circa la tipologia degli ulteriori dati raccolti e sulle modalità con cui gli stessi verranno utilizzati.</p>

<p>In particolare, i dati personali che raccogliamo comprendono le categorie descritte nelle sezioni  “<a href="privacy/#personal-data-visit-Eonpass-website" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="come utilizziamo i vostri dati personali quando visitate il sito web di Eonpass?" data-analytics-content-type="engagement">Come utilizziamo i vostri dati personali quando visitate il sito web di Eonpass?</a>”, “<a href="privacy/#use-cookies" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="come utilizziamo i cookie (e altre tecnologie di tracciamento simili)?" data-analytics-content-type="engagement">Come utilizziamo i cookie (e altre tecnologie di tracciamento simili)?</a>”, “<a href="privacy/#personal-data-visit-our-office" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="come utilizziamo i dati personali quando visitate i nostri uffici?" data-analytics-content-type="engagement">Come utilizziamo i dati personali quando visitate i nostri uffici?</a>” and “<a href="privacy/#personal-data-marketing-purposes" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="come utilizziamo i vostri dati personali per finalità di marketing?" data-analytics-content-type="engagement">Come utilizziamo i vostri dati personali per finalità di marketing?</a>”, così come ogni altra categoria di dati personali a cui si fa riferimento nella presente informativa sulla privacy o in altre dichiarazioni che avete ricevuto.</p>

<p>Fatta eccezione per alcune informazioni richieste per legge o dalle policy di Eonpass, la vostra decisione di fornire dati personali ad Eonpass è volontaria. Non sarete pertanto soggetti a conseguenze negative se non desiderate fornirci i vostri dati personali. Tuttavia, se non fornite determinate informazioni, potremmo non essere in grado di realizzare alcune o tutte le finalità indicate nella presente informativa sulla privacy e voi potreste non essere in grado di utilizzare alcuni strumenti e sistemi che richiedono l'utilizzo di tali dati personali.</p>

<p>Se fornite ad Eonpass dati personali di un'altra persona (ad esempio, un potenziale dipendente/referente), sarete responsabili di garantire che tale persona sia a conoscenza delle informazioni contenute nella presente informativa sulla privacy e che abbia fornito il suo consenso alla condivisione delle informazioni con Eonpass.</p>

<p>Le suddette categorie di dati personali sono state ottenute o direttamente da voi (ad esempio, quando fornite informazioni per iscrivervi a una newsletter o registrarvi per esprimere commenti su un forum) o indirettamente tramite terze parti (ad esempio, tramite la tecnologia del nostro sito web). In queste terze parti sono incluse le nostre affiliate, le autorità pubbliche,<span id="protect-your-personal-data-2"></span> i siti web pubblici e i social media, i vendor e i fornitori.</p>

<p><strong>Per quali finalità e su quale base giuridica utilizziamo i vostri dati personali?</strong></p>

<p>Eonpass utilizza i vostri dati personali solo se richiesto per scopi specifici. Nella tabella di seguito vi è un elenco di (i) finalità per le quali Eonpass utilizza i dati personali degli utenti e (ii) una panoramica della base giuridica di ciascuna finalità.</p>

<table class="table table-hover">
 <tbody>
    <tr>
     <th width="50%"><strong>Finalità</strong></th>
     <th><strong>Base giuridica</strong></th>
   </tr>
    <tr>
     <td>Gestire il rapporto contrattuale e/o la relazione di lavoro con voi.</td>
     <td>Necessaria per l'esecuzione di un contratto di cui siete parte. </td>
    </tr>
   <tr>
     <td>Recruitment. </td>
     <td>Giustificata in base ai nostri legittimi interessi per garantire che assumiamo i dipendenti appropriati. </td>
     </tr>
     <tr>
     <td>Agevolare la comunicazione con voi (anche in caso di emergenza e per fornirvi le informazioni richieste).</td>
     <td>Giustificata in base al nostro legittimo interesse a garantire comunicazioni adeguate e a gestire situazioni di emergenza all’interno dell’organizzazione.</td>
     </tr>
     <tr>
     <td>Condurre e gestire le nostre attività aziendali.</td>
     <td>Necessaria per la conformità con un obbligo di legge a cui Eonpass è soggetto.</td>
     </tr>
     <tr>
     <td>Conformarsi ai requisiti legali.</td>
     <td>Necessary for the compliance with a legal obligation to which we are subject.</td>
     </tr>
     <tr>
     <td>Monitorare l’uso dei nostri sistemi da parte vostra (incluso il monitoraggio dell’uso del nostro sito web e di qualsiasi applicazione e dispositivo utilizzato dagli utenti). </td>
     <td>Giustificata in base al nostro legittimo interesse ad evitare la non conformità e a proteggere la nostra reputazione. </td>
     </tr>
     <tr>
     <td>Social listening <em>(identificare e valutare ciò che viene detto sui Social Media [solo quelli i cui contenuti siano accessibili al pubblico] a proposito di Eonpass e dei nostri clienti, per cogliere le opinioni, le intenzioni, gli umori e le tendenze di mercato, le necessità dei nostri stakeholder in modo da poter migliorare i nostri servizi. Lo facciamo tramite ricerche per parola chiave, con l’obiettivo di ottenere informazioni utili dalle conversazioni che avvengono in uno specifico periodo di tempo, e non al fine di identificare determinate persone. A tal fine, analizziamo e monitoriamo i flussi di conversazione e monitoriamo le opinioni pubbliche, affermazioni e ogni altro tipo di interazione che avviene sui canali dei Social Media).</em></td>
     <td>Giustificata in base al nostro interesse legittimo a proteggere i nostri asset e il nostro brand sui Social Media.</td>
     </tr>
     <tr>
     <td>Migliorare la sicurezza e il funzionamento del nostro sito web, delle reti e delle informazioni. </td>
     <td>Giustificata in base al nostro interesse legittimo a garantire che usufruirete di un’eccellente esperienza come utenti e che le nostre reti e informazioni siano protette.</td>
     </tr>

     <tr>
     <td>Effettuare analisi dei dati, applicandole alle operazioni e ai dati aziendali per descrivere, prevedere e migliorare le performance aziendali all'interno di Eonpass e/o per assicurare una migliore esperienza agli utenti. (maggiori dettagli su come gestiamo l’analisi dei dati sul nostro sito web sono disponibili nella nostra <a href="privacy/#cookie" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="cookie policy" data-analytics-content-type="engagement">Cookie policy</a>).</td>
     <td>Giustificata in base al nostro legittimo interesse a garantire il corretto funzionamento delle nostre attività aziendali.</td>
     </tr>
     <tr>
     <td>Commercializzare i nostri prodotti e servizi (a meno che non vi opponiate a tale trattamento, come descritto più avanti nella sezione "<a href="privacy/#personal-data-marketing-purposes" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="come utilizziamo i vostri dati personali per finalità di marketing?" data-analytics-content-type="engagement">Come utilizziamo i vostri dati personali per finalità di marketing?</a>"). </td>
     <td>Giustificata in base al nostro legittimo interesse a garantirci la possibilità di condurre e migliorare il nostro business. </td>
     </tr>
  </tbody>
</table>
<p>Nel punto in cui la tabella precedente riporta che Eonpass fa ricorso ai legittimi interessi per un dato scopo, riteniamo che i nostri legittimi interessi non siano secondi agli interessi, ai diritti o alle libertà degli utenti, in considerazione (i) della nostra trasparenza in merito all'attività di trattamento, (ii) dell’approccio alla protezione dei dati fin dalla progettazione, (iii) delle costanti revisioni in materia di protezione dei dati personali e (iv) dei vostri diritti in merito all'attività di trattamento.  Per maggiori informazioni su questo approccio al balancing test, potete contattare il nostro
<a data-isinternal="false" href="mailto:dataprivacyofficer@Eonpass.com">
Data Privacy Officer
</a>.
</p>
<p>Eonpass tratterà i vostri dati personali per le finalità sopra menzionate sulla base del vostro previo consenso, nella misura in cui tale consenso è obbligatorio ai sensi delle leggi applicabili.</p>
<p>Eonpass non utilizzerà i vostri dati personali per scopi incompatibili con le finalità di cui voi siete stati informati, <span id="protect-your-personal-data-3"></span>a meno che tale uso sia richiesto o autorizzato dalla legge, ovvero sia nel vostro vitale interesse (ad esempio in caso di un'emergenza medica).</p>

<p><strong>Eonpass condivide con terze parti i vostri dati personali?</strong></p>
<p>Possiamo trasferire dati personali ai nostri fornitori di servizi, ai consulenti, ad autorità pubbliche e governative ovvero a terze parti collegate a una (potenziale) transazione aziendale o commerciale. Questi soggetti potrebbero risiedere in altri paesi. Prima di farlo, adotteremo misure atte a garantire che i dati personali siano adeguatamente protetti, come richiesto dalle leggi in materia e dalle policy interne di Eonpass. Eonpass può inoltre trasferire i vostri dati personali a qualunque delle sue affiliate/partner a livello globale, per consentire la visita delle nostre sedi.</p>
<p>A meno che non venga comunicato diversamente, i trasferimenti di dati personali dallo spazio economico europeo (SEE) a terze parti aventi sede fuori dal SEE si baseranno su una decisione di adeguatezza ovvero saranno disciplinati da clausole contrattuali standard (una copia delle quali può essere ottenuta attraverso le informazioni di contatto riportate qui di seguito). Qualsiasi altro trasferimento esterno al SEE avverrà in conformità<span id="protect-your-personal-data-4"></span> con gli adeguati meccanismi e nel rispetto degli standard che regolano i trasferimenti internazionali dei dati.</p>

<p><strong>Come trattiamo i dati sensibili?</strong></p>
<p>In genere Eonpass non ha necessità di raccogliere dati sensibili (anche conosciuti come categorie particolari di dati personali) attraverso questo sito o in altro modo. Nei rari casi in cui avremo necessità di farlo, ciò avverrà in conformità ai requisiti della legge sulla tutela della riservatezza dei dati e/o chiederemo il vostro consenso.</p>

<p>L'espressione "dati sensibili" si riferisce alle varie categorie di dati personali identificate dalle leggi sulla riservatezza dei dati che ne impongono un trattamento speciale, inclusa, in alcune circostanze, la necessità di ottenere un esplicito consenso da parte vostra. Queste categorie includono origine etnica o razziale, opinioni politiche, religiose, filosofiche o di altro genere, adesione a un sindacato,<span id="protect-your-personal-data-5"></span> salute fisica o mentale, dati biometrici o genetici, vita o orientamenti sessuali o precedenti penali e reati (incluse informazioni su sospette attività criminali).</p>

<p><strong>Come garantiamo la sicurezza dei dati?</strong></p>
<p>Eonpass ha posto in essere misure per la sicurezza fisica, tecnica e organizzativa in merito a tutti i dati personali in suo possesso. Disponiamo di protocolli, controlli e relative policy, procedure e linee guida per garantire l’efficacia di tali misure, prendendo in considerazione i rischi associati alle categorie di dati personali e al trattamento a cui vengono sottoposti da parte nostra.</p>
<p>Per proteggere i vostri dati personali adottiamo misure di sicurezza leader di mercato. Tra cui (a titolo esemplificativo):
</p>
<ul>
 <li>Eonpass possiede la certificazione ISO27001 che indica l’adesione da parte di Eonpass ai più elevati e stringenti standard di sicurezza delle informazioni. Si tratta di uno standard di sicurezza premiato dal British Standards Institution ("BSI") che funge da certificazione internazionale in merito al fatto che Eonpass adotta i più alti e stringenti standard. Questa certificazione è l’unico standard internazionale che può essere sottoposto a verifica e che definisce i requisiti per un sistema di gestione della sicurezza delle informazioni (Information Security Management System, "ISMS"). Conferma inoltre che i processi e i controlli di sicurezza selezionati da Eonpass forniscono una struttura efficace per la protezione dei clienti e delle sue informazioni. <span id="protect-your-personal-data-6"></span>
 </li>
 <li>Abbiamo messo in atto un programma globale per la protezione dei dati dei clienti (“CDP”) che disciplina la gestione delle loro informazioni e dei sistemi che ci sono stati affidati.</li>
 <li>Siamo sottoposti a costanti test di penetrazione da parte di terzi fornitori che confermano costantemente la validità delle nostre difese tecniche.</li>
</ul>
<span id="protect-your-personal-data-6"></span>
<p><strong>Dove saranno trattati i vostri dati personali?</strong></p>
<p>Quale organizzazione che opera a livello globale con uffici e attività in tutto il mondo, Eonpass raccoglie dati personali che potrebbero essere trasferiti o resi accessibili a livello internazionale in tutta l'organizzazione mondiale di Eonpass e fra le nostre entità e affiliate.</p>
<p>I trasferimenti di questo tipo in tutta l'organizzazione mondiale di Eonpass avvengono in conformità con le leggi applicabili sulla protezione dei dati e in conformità con le nostre norme vincolanti d’impresa (Binding Corporate Rules, "BCR").</p>
<p>Queste norme rispecchiano gli standard contenuti nelle leggi europee sulla protezione dei dati personali (tra cui il Regolamento generale per la protezione dei dati personali). L'esistenza delle norme BCR implica che tutte le entità del gruppo Eonpass che le hanno recepite sono chiamate a rispettare le medesime regole interne. Significa anche che i vostri diritti (vedere la sezione "Quali sono i vostri diritti in relazione al trattamento dei dati personali?") rimangono inalterati, a prescindere dal luogo in cui i dati personali vengano trattati da Eonpass.</p>

<p>Scaricate <span id="protect-your-personal-data-7"></span>of <a href="/us-en/about/binding-corporate-rules" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="una copia delle bcr" data-analytics-content-type="engagement">una copia delle BCR</a> di Eonpass.</p>

<p><strong>Per quanto tempo Eonpass conserverà i vostri dati personali?</strong></p>
<p>Eonpass conserverà i vostri dati personali solo per il tempo necessario. Adottiamo specifiche policy e procedure di gestione e conservazione delle informazioni, affinché i dati personali vengano cancellati dopo un tempo ragionevole in base ai seguenti criteri di conservazione:
</p>
<ul>
 <li>Conserviamo i vostri dati fino a quando sia in corso un rapporto con voi (in particolar modo, laddove possediate un account Eonpass).</li>
 <li>Conserveremo i vostri dati solo finché il vostro account rimarrà attivo o per tutto il tempo necessario a fornirvi servizi.</li>
 <span id="protect-your-personal-data-8"></span>
 <li>Conserviamo i vostri dati per il tempo necessario per rispettare i nostri obblighi legali e contrattuali a livello globale.</li>
</ul>
<p><strong>Quali sono i vostri diritti in relazione al trattamento dei dati personali?</strong>
</p>
<p>È vostro diritto (nelle circostanze e alle condizioni, e fatte salve le eccezioni, stabilite dalla legge applicabile) di:
</p>
<ul>
 <li>Richiedere l'accesso ai vostri dati personali trattati da Eonpass: questo diritto vi autorizza a sapere sia se possediamo dati personali su di voi e, in tal caso, anche a ottenere informazioni a riguardo, oltre a una copia di tali dati personali.</li>

 <li>Richiedere una rettifica dei vostri dati personali: questo diritto vi permette di far correggere i vostri dati personali nel caso siano imprecisi o incompleti.</li>
 <li>Opporvi al trattamento dei vostri dati personali: questo diritto vi autorizza a richiedere che Eonpass non tratti più i vostri dati personali.</li>
 <li>Richiedere la cancellazione dei vostri dati personali: questo diritto vi autorizza a richiedere la cancellazione dei vostri dati personali, anche laddove tali dati non fossero più necessari per il raggiungimento delle finalità previste.</li>
 <li>Richiedere la limitazione del trattamento dei dati personali: questo diritto vi autorizza a richiedere che Eonpass tratti i vostri dati personali solo in determinate circostanze, oltre che dietro vostro consenso.</li>
 <li>Richiedere la portabilità dei dati personali: questo diritto vi permette di ricevere una copia (in un formato strutturato, di uso comune e leggibile dal computer) dei dati personali da voi forniti ad Eonpass, ovvero richiedere ad Eonpass di trasmettere tali dati personali a un altro titolare del trattamento dei dati.</li>
</ul>
<p>Nella misura in cui il trattamento dei dati personali rientri nell'ambito delle nostre BCR, potreste anche riesaminare i vostri diritti ai sensi delle <a href="/us-en/about/binding-corporate-rules" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="bcr" data-analytics-content-type="engagement">BCR</a>.</p>
<p>Nella misura in cui il trattamento dei vostri dati personali sia basato sul consenso, avete il diritto di revocare tale consenso in qualsiasi momento contattando
<a data-isinternal="false" href="mailto:dataprivacyofficer@Eonpass.com">il responsabile della protezione dei dati di Eonpass</a>. Questo diritto non pregiudicherà il diritto di Eonpass di trattare i dati personali ricevuti prima del ritiro del consenso, o il suo diritto di continuare il trattamento parziale in virtù di basi giuridiche diverse dal consenso.</p>
<p>Se, nonostante il nostro impegno e i nostri sforzi per proteggere i vostri dati personali, ritenete che i vostri diritti alla protezione dei dati siano stati violati, vi invitiamo innanzi tutto a rivolgervi ad Eonpass per cercare di risolvere qualsiasi questione. Avete il diritto, esercitabile in ogni momento, di avanzare un reclamo direttamente all'autorità di vigilanza pertinente o adire le vie legali presso un tribunale competente (nel paese in cui vivete, nel paese in cui lavorate o nel paese in cui ritenete che la legge sulla protezione dei dati personali sia stata violata).</p>
<p><a data-isinternal="false" href="mailto:dataprivacyofficer@Eonpass.com">Contattateci</a> per esercitare i vostri diritti.</p>
<span id="personal-data-visit-Eonpass-website"></span>
<h5 class="module-title">2. Come utilizziamo i vostri dati personali quando visitate il sito web di Eonpass?</h5>
<p><span id="visit-Eonpass-website-1"></span>Oltre alle informazioni fornite in precedenza, nelle sezioni seguenti viene descritto il modo in cui Eonpass utilizza i dati personali degli utenti che visitano il suo sito web:
</p>
<ul>
 <li><a href="privacy/#visit-Eonpass-website-1" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="quali dati personali raccogliamo?" data-analytics-content-type="engagement">Quali dati personali raccogliamo?</a></li>
 <li><a href="privacy/#visit-Eonpass-website-2" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="includiamo (link a) siti web e a programmi di terze parti?" data-analytics-content-type="engagement">Includiamo (link a) siti web e a programmi di terze parti?</a></li>
 <li><a href="privacy/#visit-Eonpass-website-3" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="come vengono utilizzate le informazioni che raccogliamo dai nostri siti?" data-analytics-content-type="engagement">Come vengono utilizzate le informazioni che raccogliamo dai nostri siti?</a></li>
</ul>
<p><strong>Quali dati personali raccogliamo?</strong></p>
<p>Eonpass raccoglie informazioni dai propri siti web in due modi: (1) direttamente (ad esempio, quando ci fornite dati personali per iscrivervi a una newsletter o registrarvi su un forum per lasciare un commento) e (2) indirettamente (ad esempio, attraverso la tecnologia del nostro sito web).</p>
<p>Possiamo raccogliere e trattare i seguenti dati personali:
</p>
<ul>
 <li>Informazioni fornite compilando i moduli sul nostro sito. Ciò comprende la registrazione per l’uso del sito, l'abbonamento a servizi, newsletter e avvisi, la registrazione a una conferenza o la richiesta di un white paper o di maggiori informazioni. Pagine che raccolgono questo tipo di dati personali possono fornire ulteriori indicazioni sul motivo per cui i vostri dati sono necessari e su come verranno utilizzati. Sarete voi a decidere se fornire i dati o meno.</li>
 <li>Se ci contattate, potremmo conservare una registrazione di tale corrispondenza.</li>
 <li>Potremmo chiedervi di compilare dei sondaggi che utilizzeremo per scopi di ricerca, ma non siete obbligati a rispondere.</li>
 <li>Ogni post, commento o altro contenuto che viene caricato o pubblicato da voi su un sito web Eonpass.<span id="visit-Eonpass-website-2"></span></li>
 <li>Il nostro sito web raccoglie informazioni sul vostro computer, inclusi (ove disponibili) l'indirizzo IP, il sistema operativo e il tipo di browser, che servono per la gestione del sistema, per filtrare il traffico, per cercare i domini degli utenti e per fornire un resoconto sulle statistiche.</li>
 <li>I dettagli delle vostre visite sul nostro sito, le pagine visualizzate e le risorse a cui avete accesso o che scaricate, inclusi, tra l'altro, traffico dati, dati sulla posizione, registri web e altri dati di comunicazione. Per maggiori informazioni consultare la <a href="privacy/#use-cookies" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="sezione sui cookie" data-analytics-content-type="engagement">sezione sui cookie</a> sottostante.</li>
</ul>
<p><strong>Includiamo (link a) siti web e a programmi di terze parti?</strong></p>
<p>I nostri siti web possono includere:
</p>
<ul>
 <li>Link da e verso i siti di nostri partner, inserzionisti e affiliate.<span id="visit-Eonpass-website-3"></span> </li>
 <li>Alcuni programmi (widget e applicazioni) di terze parti. In tal caso, si consideri che queste terze parti possono trattare i vostri dati personali raccolti tramite tali programmi per finalità proprie.</li>
</ul>
<p>Eonpass non si assume alcuna responsabilità in merito a tali siti o programmi di terze parti. Siete pregati di controllare i termini di utilizzo e le informative sulla privacy di dette parti prima di utilizzare e fornire informazioni su tali siti e programmi.</p>
<p><strong>Come vengono utilizzate le informazioni che raccogliamo dai nostri siti?</strong></p>

<p>Eonpass utilizza i dati personali per le finalità descritte nella sezione  “<a href="privacy/#protect-your-personal-data-2" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="per quali finalità e su quale base giuridica utilizziamo i vostri dati personali?" data-analytics-content-type="engagement">Per quali finalità e su quale base giuridica utilizziamo i vostri dati personali?</a>” di cui sopra e per fornire le informazioni da voi richieste, elaborare le candidature online e per altre finalità che vi descriveremo nel momento in cui tali dati verranno raccolti. Ad esempio:</p>
<ul>
 <li>Link da e verso i siti di nostri partner, inserzionisti e affiliate.<span id="visit-Eonpass-website-3"></span> </li>
 <li>Alcuni programmi (widget e applicazioni) di terze parti. In tal caso, si consideri che queste terze parti possono trattare i vostri dati personali raccolti tramite tali programmi per finalità proprie</li>
</ul>
<p>Analizziamo le informazioni relative all’indirizzo IP e al browser per stabilire cosa del nostro sito sia maggiormente efficace per identificare modi per renderlo ancora migliore ed efficiente. Consultare la <span id="use-cookies"></span> <a href="privacy/#use-cookies" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="sezione sui cookie" data-analytics-content-type="engagement">sezione sui cookie </a>sottostante per ulteriori informazioni.</p>
<h5 class="module-title">3. Come utilizziamo i cookie (e altre tecnologie di tracciamento simili)?</h5>
<p>Oltre alle informazioni fornite in precedenza, questa sezione descrive come utilizziamo i cookie e altre tecnologie di tracciamento.</p>
<p>Analizziamo le informazioni relative all’indirizzo IP e al browser per stabilire cosa del nostro sito sia maggiormente efficace e, nell’eventualità, per comprendere come perfezionarlo per migliorare le esperienze degli utenti.</p>
<p>
Per maggiori informazioni, consultare la nostra cookie policy. Utilizzando il nostro sito web l'utente accetta che vengano installati cookie e altre tecnologie simili sul suo dispositivo, come spiegato nella nostra  <a href="privacy/#cookie">cookie policy</a>
</p>
<h5 class="module-title">4. Come utilizziamo i vostri dati personali quando visitate i nostri uffici?</h5>
<p>Oltre alle informazioni fornite in precedenza, in questa sezione viene descritto il modo in cui Eonpass utilizza i dati personali degli utenti che visitano i suoi uffici.</p>
<p>Per maggiori informazioni su come Eonpass tratta i vostri dati personali quando visitate i nostri uffici riferitevi al vostro referente che vi spiegherà anche il potenziale trattamento dei dati personali attraverso sistemi CCTV e di gestione degli accessi, qualora tali apparecchiature siano attive. Tali dati servono esclusivmamente per garantire la sicurezza del luogo di lavoro ed adempire ad evntuali norme di legge.</p>
<p>Per qualsiasi domanda relativa alla protezione dei dati o per comunicazioni in merito al sito web/autorizzazioni relative al marketing, on data privacy or you want to let us know about website/marketing permissions, please <a href="https://eonpass.us4.list-manage.com/profile?u=5841bb9d962daeb1694c46dbf&id=71abf0349d&e=" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="contattateci" data-analytics-content-type="engagement">contattateci</a>.
</p>
<h5 class="module-title">5. Come utilizziamo i vostri dati personali per finalità di marketing?</h5>
<p>Oltre alle informazioni fornite in precedenza, nelle sezioni seguenti viene descritto il modo in cui Eonpass utilizza i dati personali degli utenti per finalità di marketing:
</p>
<ul>
 <li><a href="privacy/#marketing-purposes-1" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="quali sono le fonti da cui derivano i dati di marketing?" data-analytics-content-type="engagement">Quali sono le fonti da cui derivano i dati di marketing?</a></li>
 <li><a href="privacy/#marketing-purposes-2" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="inviamo e-mail mirate?" data-analytics-content-type="engagement">Inviamo e-mail mirate?<span id="marketing-purposes-1"></span></a></li>
 <li><a href="privacy/#marketing-purposes-3" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="gestiamo database crm (customer relationship management)?" data-analytics-content-type="engagement">Gestiamo database CRM (Customer Relationship Management)?</a></li>
 <li><a href="privacy/#marketing-purposes-4" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="combiniamo e analizziamo i dati personali?" data-analytics-content-type="engagement">Combiniamo e analizziamo i dati personali?</a></li>
 <li><a href="privacy/#marketing-purposes-5" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="Eonpass condivide i vostri dati personali con terze parti?" data-analytics-content-type="engagement">Eonpass condivide i vostri dati personali con terze parti?</a></li>
 <li><a href="privacy/#marketing-purposes-6" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="quali sono i vostri diritti in materia di comunicazioni di marketing?" data-analytics-content-type="engagement">Quali sono i vostri diritti in materia di comunicazioni di marketing?</a></li>
</ul>
<p><strong>Quali sono le fonti da cui derivano i dati di marketing?</strong></p>
<p id="marketing-purposes-2">La mole di dati personali che Eonpass raccoglie e utilizza per scopi di marketing si riferisce a singoli dipendenti dei nostri clienti e di altre aziende con le quali è in essere un rapporto commerciale. Potremmo anche ottenere informazioni di contatto da fonti pubbliche, compresi i contenuti divulgati sui siti dei social media, per stabilire un primo contatto con una determinata persona presso un cliente o un'altra azienda</p>
<p><strong>Inviamo e-mail mirate?</strong></p>
<p id="marketing-purposes-3">Eonpass invia e-mail commerciali a soggetti presso i nostri clienti o altre aziende con cui intendiamo sviluppare o mantenere un rapporto commerciale in conformità con le leggi applicabili sul marketing. Le e-mail mirate includono tipicamente web beacon, cookie e tecnologie simili che ci permettono di sapere sia se l'utente apre, legge o elimina il messaggio e sia quali link apre. Quando l'utente fa clic su un link in una e-mail di marketing ricevuta da Eonpass, utilizzeremo un cookie per registrare le pagine che vengono visualizzate e i contenuti scaricati dai nostri siti, anche se l'utente non è registrato o ha fatto login sul nostro sito.</p>

<p>Le e-mail mirate di Eonpass possono includere ulteriori informazioni sulla riservatezza dei dati, come previsto dalle leggi vigenti.</p>
<p><strong>Gestiamo database CRM (Customer Relationship Management)?</strong></p>
<p id="marketing-purposes-4">Come la maggior parte delle aziende, anche Eonpass utilizza la tecnologia CRM (Customer Relationship Management) per gestire e monitorare le proprie iniziative di marketing. I nostri database CRM includono dati personali appartenenti a soggetti presso nostri clienti e altre aziende con cui sono già in essere o intendiamo sviluppare rapporti commerciali. I dati personali utilizzati per queste finalità includono informazioni commerciali utili, come ad esempio dati di contatto, informazioni disponibili al pubblico (ad esempio: appartenenza a un consiglio di amministrazione, articoli pubblicati, comunicati stampa, post pubblici sui social media, se rilevanti per scopi commerciali), le vostre risposte alle e-mail mirate (compresa l'attività web che segue i link presenti nelle nostre e-mail), attività da parte di utenti registrati sul nostro sito web e altre informazioni commerciali incluse dai professionisti Eonpass in base alle loro interazioni personali con gli utenti. Se desiderate essere esclusi dai nostri database CRM, <a href="https://eonpass.us4.list-manage.com/profile?u=5841bb9d962daeb1694c46dbf&id=71abf0349d&e=" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="utilizzate questo link" data-analytics-content-type="engagement">utilizzate questo link</a>.</p>
<p><strong>Combiniamo e analizziamo i dati personali?</strong></p>
<p id="marketing-purposes-5">Eonpass può combinare dati provenienti da fonti disponibili al pubblico e dalle nostre e-mail dai sito web e dalle interazioni personali con gli utenti (questo include informazioni ottenute attraverso i nostri siti secondari come i siti Career e Corporate e informazioni raccolte quando gli utenti si registrano o fanno log-in nel nostro sito usando le credenziali di piattaforme social (come LinkedIn e Xing). Questi dati vengono associati per valutare meglio la vostra esperienza con Eonpass e per svolgere le altre attività descritte nella nostra privacy policy.<span id="marketing-purposes-6"></span></p>
<p><strong>Eonpass condivide i dati personali con terze parti?</strong></p>
<p>Oltre alle terze parti menzionate nella sezione “<a href="privacy/#protect-your-personal-data-5" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="Eonpass condivide i vostri dati personali con terze parti?" data-analytics-content-type="engagement">Eonpass condivide i vostri dati personali con terze parti?</a>” , possiamo condividere i vostri dati personali con agenzie di marketing.</p>
<p><strong>Quali sono i vostri diritti in materia di comunicazioni di marketing?</strong></p>
<p>Potete esercitare il diritto di impedire l'inoltro di comunicazioni di marketing selezionando alcune caselle presenti sui moduli che Eonpass utilizza per raccogliere i vostri dati personali o utilizzando i meccanismi di rinuncia (opt-out) riportati nelle e-mail che vi inviamo. Potete inoltre esercitare il diritto di interrompere il ricevimento di comunicazioni di marketing o chiedere che i vostri dati personali vengano eliminati dai nostri database CRM (Customer Relationship Management) in qualsiasi momento  <a href="https://eonpass.us4.list-manage.com/profile?u=5841bb9d962daeb1694c46dbf&id=71abf0349d&e=" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="utilizzando questo link" data-analytics-content-type="engagement">utilizzando questo link</a>. In questi casi, Eonpass conserverà i dati personali minimi necessari per registrare la vostra rinuncia ed evitare di contattarvi nuovamente.</p>
<h5 class="module-title">6. In quali altri modi potremmo utilizzare i vostri dati personali</h5>
<p>In aggiunta a quanto precedentemente indicato, le sezioni seguenti descrivono altri utilizzi specifici di dati personali da parte di alcune società affiliate di Eonpass.</p>
<p>Di seguito, forniamo maggiori dettagli su come processiamo i vostri dati personali in relazione a qualunque finalità di creazione / produzione di contenuti clicca qui.</p>

<p><strong>Attività di creazione / produzione di contenuti video</strong></p>
<p>Alcune società del gruppo Eonpass si occupano di produzione di contenuti. Potremmo trattare i vostri dati personali in relazione a tali attività di creazione di contenuti televisivi, filmati, video di marketing o pubblicitari o a qualunque altro contenuto relativo ad attività di creazione, produzione e distribuzione di contenuti video.</p>
<p><em>Che tipo di dati personali trattiamo in relazione alle attività di produzione video? </em></p>
<ul>
 <li>I dati personali che trattiamo per finalità di produzione di contenuti possono includere immagini e filmati in cui siete presenti e possono anche includere il luogo in cui vi trovavate al momento in cui sono stati realizzati.</li>
 <li>Se fate parte del pubblico, faremo tutto il possibile per informarvi in anticipo della nostra presenza e delle attività di ripresa, e vi daremo l’opportunità di non parteciparvi, evitando di accedere ai luoghi in cui le riprese avvengono.</li>
 <li>Se siete tra i protagonisti delle nostre attività di ripresa (per esempio un collaboratore o un professionista, quale uno degli intervistati, un attore o una comparsa, invece che un membro del pubblico) raccoglieremo e tratteremo anche il vostro nominativo, le informazioni di contatto e ogni altra informazione fornita all’interno dei questionari pre-riprese e/o dei moduli di liberatoria, come per esempio i dettagli dei vostri parenti più stretti.</li>
 <li>Potremmo anche raccogliere e trattare categorie speciali di dati come le informazioni sulla salute o disabilità, nella misura in cui ciò sia necessario a consentirci di modificare le modalità di ripresa per assistervi o supportarvi. </li>
</ul>
<p>Se avete domande sulla data privacy o qualunque altro aspetto delle nostre attività di produzione video, siete pregati di <a data-isinternal="false" href="mailto:dataprivacyofficer@Eonpass.com">contattarci</a>.</p>
<h5 class="module-title">7. Contatti</h5>
<p>Fare <a data-isinternal="false" href="mailto:dataprivacyofficer@Eonpass.com">clic qui</a> se:</p>
<ul>
 <li>Avete domande di carattere generale sul modo in cui Eonpass protegge i vostri dati personali.</li>
 <li>Intendete esercitare i diritti in relazione ai vostri dati personali (come indicato nelle sezioni  “<a href="privacy/#protect-your-personal-data-8" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="quali sono i vostri diritti in relazione al trattamento dei dati personali?" data-analytics-content-type="engagement">Quali sono i vostri diritti in relazione al trattamento dei dati personali?</a>” e “<a href="privacy/#marketing-purposes-6" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="quali sono i vostri diritti in materia di comunicazioni di marketing?" data-analytics-content-type="engagement">Quali sono i vostri diritti in materia di comunicazioni di marketing?</a>”). In alternativa, potete utilizzare <a href="https://eonpass.us4.list-manage.com/profile?u=5841bb9d962daeb1694c46dbf&id=71abf0349d&e=" data-linkcomponentname="inline link" data-linktype="engagement" data-analytics-link-name="questo link" data-analytics-content-type="engagement">questo link</a> per esercitare tali diritti.</li>
 <li>Desiderate avanzare un reclamo in merito all'utilizzo dei vostri dati personali da parte di Eonpass.</li>
</ul>

<p>Potete anche contattare Eonpass, in qualità di titolare dei vostri dati personali, tramite il nostro <a data-isinternal="false" href="mailto:dataprivacyofficer@Eonpass.com">responsabile della protezione dei dati</a> (preferibilmente via e-mail) o anche per posta, indicando chiaramente sulla busta “For the attention of the Data Privacy Officer”, all’indirizzo: Eonpass S.r.l., Piazza D. Chiesa 13, 38068 Rovereto, TN.</p>

<a id="cookie"></a>
<h1>Cookie Policy</h1>
<p>
Di seguito sono riportate informazioni su come Eonpass plc e le sue affiliate ("noi") utilizzano i cookie e altre tecnologie simili su questo sito web.
</p>
<p>
Continuando a utilizzare questo sito l'utente accetta che vengano installati cookie e altre tecnologie simili sul suo dispositivo, inclusi i dispositivi mobili, per suo accordo con il nostro Cookie Consent Manager. Continuando a utilizzare il dispositivo mobile per accedere a questo sito web, l'utente accetta che possano essere raccolte le seguenti informazioni: identificatore univoco del dispositivo, indirizzo IP del dispositivo mobile, informazioni sul sistema operativo del dispositivo, operatore di telefonia mobile e informazioni di localizzazione (nella misura consentita dalla legge in vigore).
</p>
<h5>Che cosa sono i cookie?</h5>
<p>
I cookie sono stringhe di testo contenenti piccole quantità di informazioni che vengono scaricati sul computer o dispositivo mobile quando l’utente visita un sito web e consentono al sito stesso di riconoscere il dispositivo.
</p>
<h5>Perché usiamo i cookie e tecnologie simili?</h5>
<p>
I cookie consentono di navigare tra le pagine in modo efficiente, ricordano le preferenze dell'utente e in generale migliorano la user experience. I cookie possono anche fare in modo che i messaggi pubblicitari e altri contenuti visualizzati online siano più rilevanti per l’utente e i suoi interessi.
</p>
<h5>Eonpass utilizza i cookie per il marketing e gli analytics?</h5>
<p>
Sì, possiamo utilizzare le informazioni raccolte dai cookie per identificare il comportamento degli utenti e fornire contenuti e offerte in base al loro profilo, e per le altre finalità descritte di seguito, nella misura legalmente consentita in alcune giurisdizioni.
</p>
<p>
Alcuni cookie da noi utilizzati non raccolgono informazioni che identificano l'utente. Per esempio –
<ul>
<li>Cookie di performance (vedi sotto)</li>
<li>Cookie mirati (vedi sopra) relativi all'utente non registrato</li>
</ul>
<p>In altri casi possiamo associare le informazioni dei cookie (comprese le informazioni da cookie installati attraverso i nostri annunci pubblicitari su siti di terze parti), a una persona identificabile. Per esempio –
</p>
<ul>
<li>Se mandiamo all'utente un'e-mail mirata che include web beacon, cookie o tecnologie simili, sapremo se l'utente apre, legge o elimina il messaggio.</li>
<li>Quando l'utente clicca su un link in una e-mail di marketing ricevuta da Eonpass, noi utilizzeremo un cookie anche per registrare quali pagine vengono visualizzate e quali contenuti vengono scaricati dai nostri siti web, a prescindere che l'utente sia registrato o meno.</li>
<li>Combinazione e analisi dei dati personali – Come descritto in precedenza, possiamo combinare dati provenienti da fonti pubbliche disponibili e dalle diverse interazioni tramite e-mail, sito web e personali con gli utenti (questo include le informazioni raccolte attraverso i nostri vari siti web, come ad esempio quelli dedicati alle opportunità di carriera e quelli corporate e le informazioni raccolte quando l’utente si registra o accede ai nostri siti direttamente o tramite le credenziali di una piattaforma social (come LinkedIn e Xing).Combiniamo questi dati per valutare meglio l'esperienza dell'utente con Eonpass e per eseguire le altre attività descritte nella nostra informativa sulla privacy.</li>
</ul>

<h5>Eonpass utilizza cookie di società terze?</h5>
<p>
Alcuni cookie da noi utilizzati provengono da società terze, come ad esempio Google Analytics, Mailchimp e Linkedin Analytics per disporre di web analytics e business intelligence riguardo ai nostri siti. Queste aziende utilizzano codice di programmazione per raccogliere le informazioni sull'interazione dell'utente con i nostri siti, come ad esempio le pagine visitate, i collegamenti selezionati e il tempo di permanenza. Questo codice è attivo solo quando l’utente si trova su un sito web Eonpass. Per saperne di più su come queste aziende raccolgono e utilizzano le informazioni per conto di Eonpass, leggere le loro informative sulla privacy: Google: <a href="https://policies.google.com/?hl=en">Google Privacy & Terms</a>, Mailchimp: <a href="https://mailchimp.com/legal/privacy/">Mailchimp privacy Policy</a>, e Linkedin: <a href="https://www.linkedin.com/legal/privacy-policy">Linkedin Privacy Policy</a>.
</p>

<h5>Eonpass utilizza tecnologie di tracciamento diverse dai cookie?</h5>
<p>
Possiamo anche utilizzare web beacon (compresi i pixel di conversione) o altre tecnologie per scopi simili e possiamo includerle nei nostri siti, nelle e-mail di marketing, nelle newsletter o nei siti web affiliati per stabilire se i messaggi sono stati letti e i link sono stati aperti. I web beacon non installano le informazioni sul dispositivo, ma possono funzionare in combinazione con i cookie per monitorare l'attività del sito web. Le informazioni sui cookie fornite di seguito valgono anche per i web beacon e per le tecnologie simili. I pixel di conversione sono piccoli codici presenti su una particolare pagina web che si attivano quando l'utente visita la pagina, con un conseguente aumento del numero di conversioni.
</p>

<h5>Cosa fare per non installare i cookie?</h5>
<p>
È possibile rimuovere i cookie dal dispositivo tramite le opzioni del browser. Se si desidera bloccare i cookie che potrebbero essere installati in futuro, è possibile modificare le impostazioni del browser. Per ulteriori informazioni sulla gestione dei cookie vedere All About Cookies - Manage Cookies. Attualmente le operazioni "Do Not Track" non sono riconosciute dal nostro sito.
</p>
<p>
Tenere presente che la cancellazione e il blocco dei cookie avrà un impatto sulla user experience, poiché alcune parti del sito potrebbero non essere più funzionanti. A meno che il browser sia stato impostato in modo da bloccare i cookie, il nostro sistema li installerà non appena l’utente visita il nostro sito web o clicca su un collegamento in una nostra e-mail mirata, anche se in precedenza i nostri cookie erano stati eliminati.
</p>

<h5>Che tipi di cookie ci sono e quali vengono utilizzati sul sito?</h5>
<p>
I cookie utilizzati sui siti Eonpass sono stati classificati sulla base delle categorie presenti nella guida ICC UK Cookie Guide pubblicata nel 2012. Tuttavia, è importante notare che non tutti i cookie possono essere utilizzati in tutte le giurisdizioni o su tutti i siti web. Di seguito è riportato un elenco di tutti i cookie utilizzati in questo sito suddivisi per categorie. All'interno delle quattro categorie seguenti i cookie sono classificati come cookie di sessione o persistenti.
</p>
<ul>
<li>I cookie di sessione sono temporanei e una volta che l’utente chiude la finestra del browser vengono cancellati dal dispositivo.</li>
<li>I cookie persistenti rimangono invece sul dispositivo per un periodo più lungo e vengono utilizzati dal sito web per riconoscere il dispositivo in caso di un nuovo accesso.Per ulteriori informazioni sui cookie: <a href="https://www.allaboutcookies.org/">All About Cookies</a> e <a href="http://www.youronlinechoices.eu/">Your Online Choices</a>.</li>
</ul>
<p>
Eonpass utilizza sia cookie di sessione che persistenti.
</p>
<p>
Per qualsiasi domanda, ora o durante la visita del sito, invia una richiesta tramite il nostro contatto come descritto nella descrizione della privacy.
</p>
</article>
        </div>
        </div>
        </div>
        </div>
        </div>
          </div>
          <div class="md-layout-item md-size-15"></div>
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
import Vue from 'vue'
import VueParallaxJs from 'vue-parallax-js'
import Header from '~/components/Header.vue'
import Drawer from '~/components/Drawer.vue'

Vue.use(VueParallaxJs)

export default {
  components: {
    Header,
    Drawer
  },
  data: () => ({
    menuVisible: false
  }),
  created() {
    this.$nuxt.$on('toggle-menu', () => {
      this.menuVisible = !this.menuVisible
    })
  }
}
</script>

<style>
.md-toolbar .md-toolbar-row {
  background-color: #FFFFFF !important;
}
.headertitle{
    font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
    color: rgba(0, 0, 0, 0.85);
    opacity: 100;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: translateY(10px);
}
.subtitle{
  font-size: 22px;
  line-height: 31px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.85);
  opacity: 100;
  transform: translateY(10px);
  padding: 0px;
}
</style>
